In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# PREPROCESAMIENTO ARCHIVO BENEFICIARIOS

En este primer acercamiento con los datos se propone realizar el reconocimiento de los atributos de la tabla Beneficiarios y sus caracteristicas. Para este primer análisis se tomo de fomra aleatoria una muestra de 30000 registros del archivo.

In [115]:
path='C:/Users/SENA/Documents/pythonAnalitic/ICBF/beneficiarios.csv'
df = pd.read_csv(path)

C:\Users\SENA\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (9,35,70,71,72,73,74,75,76,77,78,79,80,90,129,154) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [116]:
headers=['CodigoRegionalContrato', 'RegionalContrato', 'IdContrato', 'NumeroContrato', 'AcnoVigencia', 'FechaInicio', 'FechaFin', 'NumeroCupos', 'ValorTotal', 'NombreTipoOtroSi', 'FechaInicioOtroSi', 'FechaFinOtroSi', 'ValorOtroSi', 'CupoOtroSi', 'NombreEntidadContratista', 'CodDocumento', 'IdentificacionEntidadContratista', 'TipoEntidadContratista', 'CodigoRegionalUDS', 'RegionalUDS', 'CodigoDepartamentoUDS', 'DepartamentoUDS', 'CodigoMunicipioUDS', 'MunicipioUDS', 'CodigoCentroZonalUDS', 'CentroZonalUDS', 'IdUnidadServicio', 'CodigoUnidadServicio', 'NombreUnidadServicio', 'ZonaUbicacion', 'DireccionUDS', 'CuposUDS', 'UDSEsGeoreferenciada', 'LatitudUDS', 'LongitudUDS', 'CodigoCapturaUDS', 'FechaCapturaUDS', 'HoraCapturaUDS', 'FechaVinculacionUDScontrato', 'FechaDesvinculacionUDScontrato', 'EstadoUDS', 'EstadoContratoUDS', 'IdServicioVigencia', 'NombreServicio', 'FechaInicialServicioVigencia', 'FechaFinalServicioVigencia', 'FechaInicioServicioContrato', 'FechaFinServicioContrato', 'NombreTipoBeneficiario', 'IdBeneficiario', 'TipoDocumento', 'Documento', 'PrimerNombre', 'SegundoNombre', 'PrimerApellido', 'SegundoApellido', 'FechaNacimiento', 'EdadAños_FechaAten', 'EdadMeses_FechaAten', 'EdadDias', 'EdadAños_FechaBack', 'EdadMeses_FechaBack', 'EdadDias_FechaBack', 'PaisNacimientoBeneficiario', 'CodigoDepartamentoNacimientoBeneficiario', 'DepartamentoNacimientoBeneficiario', 'CodigoMunicipioNacimientoBeneficiario', 'MunicipioNacimientoBeneficiario', 'Sexo', 'GrupoEtnico', 'Territorio', 'CodigoTerritorio', 'ConsejoComunitario', 'CodigoConsejoComunitario', 'ComunidadConsejoComunitario', 'CodigoComunidadConsejoComunitario', 'PuebloIndigena', 'CodigoPuebloIndigena', 'Resguardo', 'CodigoResguardo', 'ComunidadIndigena', 'CodigoComunidadIndigena', 'Kumpania', 'CodigoKumpania', 'PresentaDiscapacidad', 'AplicadoLocalizacion', 'AyudaOtraPersona', 'RequiereAyudaTecnica', 'CuentaAyudaTecnica', 'RequiereRehabilitacion', 'CuentaRehabilitacion', 'ProcesoInterdiccion', 'DiscapacidadCertificada', 'NombreEntidadCertificaDiscapacidad', 'DiscapacidadMovilidad', 'DiscapacidadSensorialVisual', 'DiscapacidadSensoriaAuditiva', 'DiscapacidadSensoriaGustoOlfatoTacto', 'DiscapacidadSistemica', 'DiscapacidadMentalCognitiva', 'DiscapacidadMentalPsicosocial', 'DiscapacidadVozHabla', 'DiscapacidadPielPeloUnas', 'DiscapacidadSensoriaSordoCeguera', 'GradoLimitacion', 'RedUnidos', 'Sisben', 'RegistroUnicoVictimas', 'VictimaDesplazForzado', 'EstadoBeneficiario', 'PaisResidenciaBeneficiario', 'CodigoDepartamentoResidenciaBeneficiario', 'DepartamentoResidenciaBeneficiario', 'CodigoMunicipioResidenciaBeneficiario', 'MunicipioResidenciaBeneficiario', 'ZonaUbicacionBeneficiario', 'CodigoCentroPoblado', 'NombreCentroPoblado', 'TipoCabecera', 'CodigoComuna', 'NombreComuna', 'CodigoBarrio', 'NombreBarrio', 'OtroBarrio', 'NombreZonaResto', 'DireccionResidencia', 'NombreRancheria', 'LatitudBeneficiario', 'LongitudBeneficiario', 'CodigoCapturaBeneficiario', 'FechaCapturaBeneficiario', 'HoraCapturaBeneficiario', 'TelefonoResidencia', 'TelefonoCelular', 'VigenciaAtencion', 'FechaAtencion', 'FechaDesvinculacionUDS', 'FechaCreaAtencion', 'EstadoAtencionBeneficiario', 'TipoResponsable', 'Tipo_documento_acudiente_o_responsable', 'Numero_de_documento', 'Primer_Nombre_acudiente_o_responsable', 'Segundo_nombre_acudiente_o_responsable', 'Primer_apellido_acudiente_o_responsable', 'Segundo_apellido_acudiente_o_responsable', 'Tipo_documento_del_padre', 'Numero_de_documento_del_padre', 'Fecha_de_Nacimiento_Padre', 'Primer_Nombre_del_padre', 'Segundo_nombre_del_padre', 'Primer_apellido_del_padre', 'Segundo_apellido_del_padre', 'Tipo_documento_de_la_madre', 'Numero_de_documento_de_la_madre', 'Fecha_de_Nacimiento_madre', 'Primer_Nombre_de_la_madre', 'Segundo_nombre_de_la_madre', 'Primer_apellido_dde_la_madre', 'Segundo_apellido_de_la_madre']
df.columns=headers

In [117]:
df.head(10)

,CodigoRegionalContrato,RegionalContrato,IdContrato,NumeroContrato,AcnoVigencia,FechaInicio,FechaFin,NumeroCupos,ValorTotal,NombreTipoOtroSi,...,Segundo_nombre_del_padre,Primer_apellido_del_padre,Segundo_apellido_del_padre,Tipo_documento_de_la_madre,Numero_de_documento_de_la_madre,Fecha_de_Nacimiento_madre,Primer_Nombre_de_la_madre,Segundo_nombre_de_la_madre,Primer_apellido_dde_la_madre,Segundo_apellido_de_la_madre
0,13,Bolívar,24759,7722016,2016,2016-11-01T00:00:00.000Z,2018-07-31T00:00:00.000Z,780,2.400394e+09,Modificacion,...,NaN,COGOLLO,NaN,CC,22793648,1900-01-01 00:00:00.000,LORENZA,NaN,RODRIGUEZ,NaN
1,13,Bolívar,24759,7722016,2016,2016-11-01T00:00:00.000Z,2018-07-31T00:00:00.000Z,780,2.400394e+09,Modificacion,...,ALFONSO,PEREZ,MEDRANO,TI,96081114398,1900-01-01 00:00:00.000,DANIELA,NaN,VELVERDE,FUENTES
2,13,Bolívar,24759,7722016,2016,2016-11-01T00:00:00.000Z,2018-07-31T00:00:00.000Z,780,2.400394e+09,Modificacion,...,YESID,MENDOZA,CASTAÑO,CC,1047368826,1995-04-13 00:00:00.000,MELISSA,NaN,MENDOZA,NaN
3,13,Bolívar,24759,7722016,2016,2016-11-01T00:00:00.000Z,2018-07-31T00:00:00.000Z,780,2.400394e+09,Modificacion,...,NaN,NaN,NaN,TI,96101923492,1900-01-01 00:00:00.000,BLEIDYS,NaN,BONILLA,ALVAREZ
4,13,Bolívar,24759,7722016,2016,2016-11-01T00:00:00.000Z,2018-07-31T00:00:00.000Z,780,2.400394e+09,Modificacion,...,NaN,GONZALEZ,NaN,CC,1047417749,1900-01-01 00:00:00.000,DAYANNA,NaN,BARRIOS,NaN
5,13,Bolívar,24759,7722016,2016,2016-11-01T00:00:00.000Z,2018-07-31T00:00:00.000Z,780,2.400394e+09,Modificacion,...,NaN,NaN,NaN,CC,1047442167,1991-10-19 00:00:00.000,ELIANA,NaN,CABEZA,NaN
6,13,Bolívar,24759,7722016,2016,2016-11-01T00:00:00.000Z,2018-07-31T00:00:00.000Z,780,2.400394e+09,Modificacion,...,NaN,NaN,NaN,CC,1047483835,1995-10-18 00:00:00.000,YINETH,NaN,SALINAS,NaN
7,13,Bolívar,24759,7722016,2016,2016-11-01T00:00:00.000Z,2018-07-31T00:00:00.000Z,780,2.400394e+09,Modificacion,...,NaN,SALAS,PEREZ,CC,3885453,1900-01-01 00:00:00.000,ALEZANDER,NaN,SALAS,PEREZ
8,13,Bolívar,24759,7722016,2016,2016-11-01T00:00:00.000Z,2018-07-31T00:00:00.000Z,780,2.400394e+09,Modificacion,...,NaN,CABARCAS,HERAZO,TI,96060424010,NaN,MARGELIS,NaN,HERNANDEZ,JULIO
9,13,Bolívar,24759,7722016,2016,2016-11-01T00:00:00.000Z,2018-07-31T00:00:00.000Z,780,2.400394e+09,Modificacion,...,NaN,NaN,NaN,CC,1047489456,NaN,YOLEIDIS,NaN,RODRIGUEZ,NaN

El siguiente paso es verificar cuantos datos nulos contiene el conjunto de datos

In [196]:
colNames=df.columns.values.tolist()
print("El número de columas es ",len(colNames))

El número de columas es  115

## Datos Nulos

La primera tarea consiste en cuantificar la cantidad de datos nulos del dataFrame, seleccionamos

In [119]:
a=0
for column in colNames:
    valnull=df[column].isnull().sum()
    pornull=round(valnull/30000*100)
    if pornull > 85:
        a=a+1
        print (a,column,valnull,pornull)

1 FechaInicioOtroSi 29999 100.0
2 FechaFinOtroSi 29999 100.0
3 FechaDesvinculacionUDScontrato 29872 100.0
4 Territorio 29988 100.0
5 CodigoTerritorio 29988 100.0
6 ConsejoComunitario 29990 100.0
7 CodigoConsejoComunitario 29990 100.0
8 ComunidadConsejoComunitario 29990 100.0
9 CodigoComunidadConsejoComunitario 29990 100.0
10 PuebloIndigena 29981 100.0
11 CodigoPuebloIndigena 29981 100.0
12 Resguardo 29991 100.0
13 CodigoResguardo 29991 100.0
14 ComunidadIndigena 29991 100.0
15 CodigoComunidadIndigena 29991 100.0
16 Kumpania 29999 100.0
17 CodigoKumpania 29999 100.0
18 AplicadoLocalizacion 29963 100.0
19 AyudaOtraPersona 29952 100.0
20 RequiereAyudaTecnica 29952 100.0
21 CuentaAyudaTecnica 29956 100.0
22 RequiereRehabilitacion 29952 100.0
23 CuentaRehabilitacion 29969 100.0
24 ProcesoInterdiccion 29958 100.0
25 DiscapacidadCertificada 29963 100.0
26 NombreEntidadCertificaDiscapacidad 29960 100.0
27 DiscapacidadMovilidad 29966 100.0
28 DiscapacidadSensorialVisual 29966 100.0
29 DiscapacidadSensoriaAuditiva 29966 100.0
30 DiscapacidadSensoriaGustoOlfatoTacto 29966 100.0
31 DiscapacidadSistemica 29966 100.0
32 DiscapacidadMentalCognitiva 29966 100.0
33 DiscapacidadMentalPsicosocial 29966 100.0
34 DiscapacidadVozHabla 29966 100.0
35 DiscapacidadPielPeloUnas 29966 100.0
36 DiscapacidadSensoriaSordoCeguera 29966 100.0
37 GradoLimitacion 29963 100.0
38 NombreZonaResto 29193 97.0
39 NombreRancheria 29999 100.0
40 LatitudBeneficiario 29875 100.0
41 LongitudBeneficiario 29875 100.0
42 CodigoCapturaBeneficiario 29878 100.0
43 FechaCapturaBeneficiario 29875 100.0
44 HoraCapturaBeneficiario 29875 100.0
45 TelefonoCelular 29719 99.0

Eliminamos las columnas que tiene un % superior al 85% de datos nulos

In [120]:
colNames=df.columns.values.tolist()
for column in colNames:
    valnull=df[column].isnull().sum()
    pornull=round(valnull/30000*100)
    if pornull > 85:
       df.drop([column], axis='columns', inplace=True)

In [197]:
colNames=df.columns.values.tolist()
print("El número de columas es ",len(colNames))

El número de columas es  115

In [150]:
colNames

['CodigoRegionalContrato',
 'RegionalContrato',
 'IdContrato',
 'NumeroContrato',
 'AcnoVigencia',
 'FechaInicio',
 'FechaFin',
 'NumeroCupos',
 'ValorTotal',
 'NombreTipoOtroSi',
 'ValorOtroSi',
 'CupoOtroSi',
 'NombreEntidadContratista',
 'CodDocumento',
 'IdentificacionEntidadContratista',
 'TipoEntidadContratista',
 'CodigoRegionalUDS',
 'RegionalUDS',
 'CodigoDepartamentoUDS',
 'DepartamentoUDS',
 'CodigoMunicipioUDS',
 'MunicipioUDS',
 'CodigoCentroZonalUDS',
 'CentroZonalUDS',
 'IdUnidadServicio',
 'CodigoUnidadServicio',
 'NombreUnidadServicio',
 'ZonaUbicacion',
 'DireccionUDS',
 'CuposUDS',
 'UDSEsGeoreferenciada',
 'LatitudUDS',
 'LongitudUDS',
 'CodigoCapturaUDS',
 'FechaCapturaUDS',
 'HoraCapturaUDS',
 'FechaVinculacionUDScontrato',
 'EstadoUDS',
 'EstadoContratoUDS',
 'IdServicioVigencia',
 'NombreServicio',
 'FechaInicialServicioVigencia',
 'FechaFinalServicioVigencia',
 'FechaInicioServicioContrato',
 'FechaFinServicioContrato',
 'NombreTipoBeneficiario',
 'IdBeneficiario',
 'TipoDocumento',
 'Documento',
 'PrimerNombre',
 'SegundoNombre',
 'PrimerApellido',
 'SegundoApellido',
 'FechaNacimiento',
 'EdadAños_FechaAten',
 'EdadMeses_FechaAten',
 'EdadDias',
 'EdadAños_FechaBack',
 'EdadMeses_FechaBack',
 'EdadDias_FechaBack',
 'PaisNacimientoBeneficiario',
 'CodigoDepartamentoNacimientoBeneficiario',
 'DepartamentoNacimientoBeneficiario',
 'CodigoMunicipioNacimientoBeneficiario',
 'MunicipioNacimientoBeneficiario',
 'Sexo',
 'GrupoEtnico',
 'PresentaDiscapacidad',
 'RedUnidos',
 'Sisben',
 'RegistroUnicoVictimas',
 'VictimaDesplazForzado',
 'EstadoBeneficiario',
 'PaisResidenciaBeneficiario',
 'CodigoDepartamentoResidenciaBeneficiario',
 'DepartamentoResidenciaBeneficiario',
 'CodigoMunicipioResidenciaBeneficiario',
 'MunicipioResidenciaBeneficiario',
 'ZonaUbicacionBeneficiario',
 'CodigoCentroPoblado',
 'NombreCentroPoblado',
 'TipoCabecera',
 'CodigoComuna',
 'NombreComuna',
 'CodigoBarrio',
 'NombreBarrio',
 'OtroBarrio',
 'DireccionResidencia',
 'TelefonoResidencia',
 'VigenciaAtencion',
 'FechaAtencion',
 'FechaDesvinculacionUDS',
 'FechaCreaAtencion',
 'EstadoAtencionBeneficiario',
 'TipoResponsable',
 'Tipo_documento_acudiente_o_responsable',
 'Numero_de_documento',
 'Primer_Nombre_acudiente_o_responsable',
 'Segundo_nombre_acudiente_o_responsable',
 'Primer_apellido_acudiente_o_responsable',
 'Segundo_apellido_acudiente_o_responsable',
 'Tipo_documento_del_padre',
 'Numero_de_documento_del_padre',
 'Fecha_de_Nacimiento_Padre',
 'Primer_Nombre_del_padre',
 'Segundo_nombre_del_padre',
 'Primer_apellido_del_padre',
 'Segundo_apellido_del_padre',
 'Tipo_documento_de_la_madre',
 'Numero_de_documento_de_la_madre',
 'Fecha_de_Nacimiento_madre',
 'Primer_Nombre_de_la_madre',
 'Segundo_nombre_de_la_madre',
 'Primer_apellido_dde_la_madre',
 'Segundo_apellido_de_la_madre']

In [10]:
df.dtypes

CodigoRegionalContrato                        int64
RegionalContrato                             object
IdContrato                                    int64
NumeroContrato                                int64
AcnoVigencia                                  int64
FechaInicio                                  object
FechaFin                                     object
NumeroCupos                                   int64
ValorTotal                                  float64
NombreTipoOtroSi                             object
ValorOtroSi                                 float64
CupoOtroSi                                  float64
NombreEntidadContratista                     object
CodDocumento                                 object
IdentificacionEntidadContratista              int64
TipoEntidadContratista                       object
CodigoRegionalUDS                             int64
RegionalUDS                                  object
CodigoDepartamentoUDS                         int64
DepartamentoUDS                              object
CodigoMunicipioUDS                            int64
MunicipioUDS                                 object
CodigoCentroZonalUDS                          int64
CentroZonalUDS                               object
IdUnidadServicio                              int64
CodigoUnidadServicio                          int64
NombreUnidadServicio                         object
ZonaUbicacion                                object
DireccionUDS                                 object
CuposUDS                                      int64
                                             ...
NombreBarrio                                 object
OtroBarrio                                   object
DireccionResidencia                          object
TelefonoResidencia                          float64
VigenciaAtencion                              int64
FechaAtencion                                object
FechaDesvinculacionUDS                       object
FechaCreaAtencion                            object
EstadoAtencionBeneficiario                   object
TipoResponsable                              object
Tipo_documento_acudiente_o_responsable       object
Numero_de_documento                          object
Primer_Nombre_acudiente_o_responsable        object
Segundo_nombre_acudiente_o_responsable       object
Primer_apellido_acudiente_o_responsable      object
Segundo_apellido_acudiente_o_responsable     object
Tipo_documento_del_padre                     object
Numero_de_documento_del_padre                object
Fecha_de_Nacimiento_Padre                    object
Primer_Nombre_del_padre                      object
Segundo_nombre_del_padre                     object
Primer_apellido_del_padre                    object
Segundo_apellido_del_padre                   object
Tipo_documento_de_la_madre                   object
Numero_de_documento_de_la_madre              object
Fecha_de_Nacimiento_madre                    object
Primer_Nombre_de_la_madre                    object
Segundo_nombre_de_la_madre                   object
Primer_apellido_dde_la_madre                 object
Segundo_apellido_de_la_madre                 object
Length: 115, dtype: object

# Normalizacion

Se procede a realizar un ejercicio de normalizacion con el atributo lenght utilizando el método simple feature scalling, en este punto se puede utilizar ML para realizar este proceso dentro del análisis de cada atributo

In [127]:
if df['ValorTotal'].dtype == 'float64':
       df['ValorTotal']=df['ValorTotal']/df['ValorTotal'].max()

In [128]:
if df['ValorOtroSi'].dtype == 'float64':
       df['ValorOtroSi']=df['ValorOtroSi']/df['ValorOtroSi'].max()

## Descripción de dataset

In [129]:
df.describe()

,CodigoRegionalContrato,IdContrato,NumeroContrato,AcnoVigencia,NumeroCupos,ValorTotal,ValorOtroSi,CupoOtroSi,IdentificacionEntidadContratista,CodigoRegionalUDS,...,CodigoMunicipioNacimientoBeneficiario,RedUnidos,Sisben,RegistroUnicoVictimas,CodigoDepartamentoResidenciaBeneficiario,CodigoMunicipioResidenciaBeneficiario,CodigoCentroPoblado,CodigoComuna,TelefonoResidencia,VigenciaAtencion
count,29999.0,29999.000000,2.999900e+04,29999.000000,29999.000000,29999.000000,6974.000000,6974.000000,2.999900e+04,29999.0,...,29375.000000,9417.000000,9417.000000,9417.000000,29986.000000,29986.000000,2.357900e+04,1.404500e+04,2.949700e+04,29999.0
mean,13.0,28071.874829,4.137852e+06,2016.955932,704.263109,0.329586,0.427268,87.609980,8.378022e+08,13.0,...,16336.604391,0.091749,0.958373,0.091855,13.162009,13426.334423,1.334495e+07,1.321436e+06,2.823244e+09,2018.0
std,0.0,841.669226,8.407637e+05,0.205250,437.938922,0.187951,0.315110,80.557684,4.317035e+07,0.0,...,11511.371815,0.288687,0.199746,0.288837,2.805013,2825.645725,2.289123e+06,2.034868e+05,9.579494e+08,0.0
min,13.0,24754.000000,3.052017e+06,2016.000000,60.000000,0.032983,0.044134,0.000000,8.000195e+08,13.0,...,5001.000000,0.000000,0.000000,0.000000,5.000000,5001.000000,5.001000e+06,5.001010e+05,0.000000e+00,2018.0
25%,13.0,28290.000000,3.912017e+06,2017.000000,323.000000,0.167556,0.241853,20.000000,8.060023e+08,13.0,...,13001.000000,0.000000,1.000000,0.000000,13.000000,13001.000000,1.300100e+07,1.300105e+06,3.015965e+09,2018.0
50%,13.0,28485.000000,4.122017e+06,2017.000000,640.000000,0.312143,0.458497,86.000000,8.060149e+08,13.0,...,13001.000000,0.000000,1.000000,0.000000,13.000000,13160.000000,1.300102e+07,1.300109e+06,3.118380e+09,2018.0
75%,13.0,28494.000000,4.252017e+06,2017.000000,967.000000,0.431524,0.469437,110.000000,8.904808e+08,13.0,...,13473.000000,0.000000,1.000000,0.000000,13.000000,13473.000000,1.346800e+07,1.300116e+06,3.165875e+09,2018.0
max,13.0,28505.000000,9.122016e+06,2017.000000,1671.000000,1.000000,1.000000,231.000000,9.006616e+08,13.0,...,95200.000000,1.000000,1.000000,1.000000,88.000000,88001.000000,7.611100e+07,7.074201e+06,3.201265e+10,2018.0

Realizando una revisión preliminar y siendo este el archivo de beneficiarios nos interesa saber cual el es numero de niños atentidos por region discriminando el sexo, la edad promedio.

In [131]:
df_test=df[['RegionalContrato','Sexo',"EdadAños_FechaAten"]]
df_grp=df_test.groupby(['RegionalContrato','Sexo'], as_index=False).mean()
df_grpc=df_test.groupby(['RegionalContrato','Sexo'], as_index=False).count()
df_grpc=df_grpc.rename(columns={'EdadAños_FechaAten':'Población'})
df_grpc["Edad promedio"]=df_grp["EdadAños_FechaAten"]
df_grpc

  RegionalContrato Sexo  Población  Edad promedio
0          Bolívar    F      15889       4.849707
1          Bolívar    M      14110       2.001559

In [108]:
df_test=df[['RegionalContrato','MunicipioUDS','Sexo',"EdadAños_FechaAten"]]

In [109]:
df_grp=df_test.groupby(['RegionalContrato','MunicipioUDS','Sexo'], as_index=False).mean()
df_grpc=df_test.groupby(['RegionalContrato','MunicipioUDS','Sexo'], as_index=False).count()
df_grpc=df_grpc.rename(columns={'EdadAños_FechaAten':'Población'})
df_grpc["Edad promedio"]=df_grp["EdadAños_FechaAten"]
df_grpc

   RegionalContrato          MunicipioUDS Sexo  Población  Edad promedio
0           Bolívar                  Achi    F        232       6.038793
1           Bolívar                  Achi    M        177       1.197740
2           Bolívar                Arenal    F        285       8.329825
3           Bolívar                Arenal    M        244       1.877049
4           Bolívar                Arjona    F        285       3.600000
5           Bolívar                Arjona    M        248       1.778226
6           Bolívar      Barranco De Loba    F        346       5.381503
7           Bolívar      Barranco De Loba    M        293       1.583618
8           Bolívar            Cantagallo    F        357       8.476190
9           Bolívar            Cantagallo    M        223       1.735426
10          Bolívar   Cartagena De Indias    F       6560       3.978659
11          Bolívar   Cartagena De Indias    M       6178       2.224992
12          Bolívar             Clemencia    F         98       2.959184
13          Bolívar             Clemencia    M        100       2.980000
14          Bolívar               Cordoba    F        101       2.871287
15          Bolívar               Cordoba    M        100       2.800000
16          Bolívar  El Carmen De Bolivar    F       1392       6.724138
17          Bolívar  El Carmen De Bolivar    M       1067       1.628866
18          Bolívar              El Guamo    F         56       2.714286
19          Bolívar              El Guamo    M         64       2.765625
20          Bolívar       Hatillo De Loba    F        249       5.542169
21          Bolívar       Hatillo De Loba    M        198       1.060606
22          Bolívar              Magangue    F        311       5.032154
23          Bolívar              Magangue    M        297       2.212121
24          Bolívar               Mahates    F        167       6.401198
25          Bolívar               Mahates    M        119       1.596639
26          Bolívar             Margarita    F        244       5.061475
27          Bolívar             Margarita    M        206       1.305825
28          Bolívar                Mompos    F        622       4.019293
29          Bolívar                Mompos    M        578       1.354671
..              ...                   ...  ...        ...            ...
37          Bolívar              Pinillos    M        197       2.522843
38          Bolívar         San Cristobal    F        111       2.990991
39          Bolívar         San Cristobal    M        128       2.273438
40          Bolívar        San Estanislao    F        423       4.125296
41          Bolívar        San Estanislao    M        409       1.897311
42          Bolívar          San Fernando    F        400       6.015000
43          Bolívar          San Fernando    M        353       1.393768
44          Bolívar           San Jacinto    F        186       2.666667
45          Bolívar           San Jacinto    M        202       2.618812
46          Bolívar   San Juan Nepomuceno    F        243      11.777778
47          Bolívar   San Juan Nepomuceno    M        140       1.078571
48          Bolívar    San Martin De Loba    F         75       2.733333
49          Bolívar    San Martin De Loba    M         84       1.952381
50          Bolívar        Santa Catalina    F         24       2.333333
51          Bolívar        Santa Catalina    M         30       2.466667
52          Bolívar    Santa Rosa Del Sur    F        275       2.730909
53          Bolívar    Santa Rosa Del Sur    M        281       2.708185
54          Bolívar                Simiti    F          1       3.000000
55          Bolívar           Soplaviento    F        277       4.205776
56          Bolívar           Soplaviento    M        195       1.641026
57          Bolívar              Tiquisio    F        188       8.303191
58          Bolívar              Tiquisio    M        165       1.848485
59          Bolívar               Turbaco    F        641       3.524181
60          Bolívar               Turbaco    M        539       2.593692
61          Bolívar               Turbana    F         95       2.621053
62          Bolívar               Turbana    M        101       2.524752
63          Bolívar            Villanueva    F        346       5.115607
64          Bolívar            Villanueva    M        291       0.532646
65          Bolívar              Zambrano    F         29       3.034483
66          Bolívar              Zambrano    M         22       3.090909

[67 rows x 5 columns]

## Datos duplicados

Primer experimento para validar datos repetidos, para lo cual el primer ejercicio es realizar un conteo del numero de documento, el cual en teoría debe existir en un solo registro.

In [105]:
doc_counts=df['Numero_de_documento'].value_counts()
doc_counts.rename(columns={'Numero_de_documento':'value_counts'}, inplace=True)

22658865                                 64
1048992687                                6
11111111111                               6
1069485241                                5
1104129415                                5
1007132151                                5
1051736151                                4
1047373696                                4
1004318959                                4
1048994772                                4
1002200009                                4
1048995898                                4
1052078115                                4
1193576937                                4
1127590898                                4
24735115                                  4
1052073037                                4
1052081133                                4
1096201254                                4
1002420059                                4
1047224420                                4
1067033372                                4
1046429513                                4
1052087624                                4
25937CAA72BC434D8AD5FDCE7B5305A923123     4
33109526                                  4
1051670881                                4
1143357862                                4
49671330                                  4
1051829623                                4
                                         ..
1131005977                                1
1047390722                                1
45769787                                  1
1044928339                                1
1045309450                                1
33353770                                  1
1050960252                                1
45558451                                  1
1052945669                                1
1065661358                                1
1047421179                                1
97100823490                               1
45527199                                  1
1050035895                                1
1103110185                                1
1129499166                                1
1002102238                                1
45529505                                  1
1051655195                                1
1048435356                                1
1002419831                                1
45687550                                  1
1062879067                                1
1047410306                                1
1007884344                                1
1052730185                                1
1047376968                                1
1050969845                                1
10239423178                               1
1051669360                                1
Length: 26857, dtype: int64

Se observa que existen documentos identicos que se encuentran en mas de un registro, el siguiente paso es verificar toda la fila, intentado establecer si realmente son datos duplicados o son diferetes objetos

In [135]:
df = df.drop_duplicates()
df.duplicated()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
29969    False
29970    False
29971    False
29972    False
29973    False
29974    False
29975    False
29976    False
29977    False
29978    False
29979    False
29980    False
29981    False
29982    False
29983    False
29984    False
29985    False
29986    False
29987    False
29988    False
29989    False
29990    False
29991    False
29992    False
29993    False
29994    False
29995    False
29996    False
29997    False
29998    False
Length: 29999, dtype: bool

# PREPROCESAMIENTO ARCHIVO ATENCION SALUD

In [136]:
path='C:/Users/SENA/Documents/pythonAnalitic/ICBF/atencionSalud.csv'
dfsalud = pd.read_csv(path)

C:\Users\SENA\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (38,39,40,41,42,43,49,67,69,70,71,73,80,82) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [137]:
headers=['DivipolaRegionalContrato', 'RegionalContrato', 'IdContrato', 'NumeroContrato', 'AcnoVigencia', 'FechaInicio', 'FechaFin', 'NombreEntidadContratista', 'CodDocumento', 'Identificacion', 'TipoEntidadContratista', 'NombreRegionalUDS', 'DivipolaMunicipioUDS', 'MunicipioUDS', 'NombreCentroZonal', 'CodigoUnidadServicio', 'NombreUnidadServicio', 'NombreEstadoUnidadServicio', 'NombreServicio', 'FechaInicialServicio', 'FechaFinalServicio', 'NombreTipoBeneficiario', 'IdBeneficiario', 'TipoDocumento', 'Documento', 'PrimerNombre', 'SegundoNombre', 'PrimerApellido', 'SegundoApellido', 'FechaNacimiento', 'EdadAños_FechaAten', 'EdadMeses_FechaAten', 'EdadDias', 'EdadAños_FechaBack', 'EdadMeses_FechaBack', 'EdadDias_FechaBack', 'Sexo', 'GrupoEtnico', 'Territorio', 'CodigoTerritorio', 'ConsejoComunitario', 'CodigoConsejoComunitario', 'ComunidadConsejoComunitario', 'CodigoComunidadConsejoComunitario', 'PuebloIndigena', 'CodigoPuebloIndigena', 'Resguardo', 'CodigoResguardo', 'ComunidadIndigena', 'CodigoComunidadIndigena', 'Kumpania', 'CodigoKumpania', 'DepartamentoNacimientoBeneficiario', 'MunicipioNacimientoBeneficiario', 'CodigoMunicipioNacimientoBeneficiario', 'DepartamentoResidenciaBeneficiario', 'MunicipioResidenciaBeneficiario', 'CodigoMunicipioResidenciaBeneficiario', 'ZonaUbicacion', 'DireccionResidencia', 'Peso', 'Talla', 'RegimenSeguridadSocial', 'NombreEPS', 'PresentaCarneVacunacion', 'CarneCrecimientoDesarrollo', 'CarneVacunacionAlDia', 'CarneSaludVigente', 'ControlesCrecimDesarrollo', 'ValoracionAuditiva', 'ValoracionVisual', 'ValoracionOdontologica', 'SemanasGestacion', 'AsistioControlPrenatal', 'ControlesPrenatales', 'NombreExamenPrenatal', 'Aplicadotoxoide', 'TipoComplementoNutricion', 'NombreSuplementoNutricional', 'ParticipaCursoProfilactico', 'NombreMotivoNoTieneDocumento', 'FechaRecepFiscalRegistroCivil', 'NombreAccionSinRegistroCivil', 'EstadoAtencionBeneficiario', 'VigenciaAtencion', 'FechaAtencion', 'FechaDesvinculacionUDS']
dfsalud.columns=headers

In [139]:
dfsalud.head(10)

,DivipolaRegionalContrato,RegionalContrato,IdContrato,NumeroContrato,AcnoVigencia,FechaInicio,FechaFin,NombreEntidadContratista,CodDocumento,Identificacion,...,TipoComplementoNutricion,NombreSuplementoNutricional,ParticipaCursoProfilactico,NombreMotivoNoTieneDocumento,FechaRecepFiscalRegistroCivil,NombreAccionSinRegistroCivil,EstadoAtencionBeneficiario,VigenciaAtencion,FechaAtencion,FechaDesvinculacionUDS
0,41,Huila,28471,502,2017,2017-12-16T00:00:00.000Z,2018-07-31T00:00:00.000Z,FUNDACION SOCIAL AMOR Y VIDA,NIT,813013497,...,NaN,NaN,NaN,NaN,NaN,NaN,Inactivo,2018,2018-02-01 00:00:00.000,2018-02-02 00:00:00.000
1,41,Huila,22382,437,2016,2016-11-01T00:00:00.000Z,2018-07-31T00:00:00.000Z,FUNDACION CAMINANDO HACIA UN FUTURO,NIT,900408031,...,NaN,NaN,NaN,NaN,2015-11-03 00:00:00.000,NaN,Activo,2018,2018-02-27 00:00:00.000,NaN
2,41,Huila,22382,437,2016,2016-11-01T00:00:00.000Z,2018-07-31T00:00:00.000Z,FUNDACION CAMINANDO HACIA UN FUTURO,NIT,900408031,...,NaN,NaN,NaN,NaN,2016-01-27 00:00:00.000,NaN,Activo,2018,2018-02-12 00:00:00.000,NaN
3,25,Cundinamarca,23738,25182016873,2016,2016-11-01T00:00:00.000Z,2018-07-31T00:00:00.000Z,ASOCIACION DE PADRES USUARIOS DE HOGARES COMUN...,NIT,808000153,...,N,NaN,NaN,NaN,2016-02-02 00:00:00.000,NaN,Activo,2018,2018-02-05 00:00:00.000,NaN
4,25,Cundinamarca,23738,25182016873,2016,2016-11-01T00:00:00.000Z,2018-07-31T00:00:00.000Z,ASOCIACION DE PADRES USUARIOS DE HOGARES COMUN...,NIT,808000153,...,N,NaN,NaN,NaN,2017-01-13 00:00:00.000,NaN,Activo,2018,2018-02-05 00:00:00.000,NaN
5,41,Huila,28471,502,2017,2017-12-16T00:00:00.000Z,2018-07-31T00:00:00.000Z,FUNDACION SOCIAL AMOR Y VIDA,NIT,813013497,...,NaN,NaN,NaN,NaN,NaN,NaN,Inactivo,2018,2018-02-06 00:00:00.000,2018-05-03 00:00:00.000
6,41,Huila,28471,502,2017,2017-12-16T00:00:00.000Z,2018-07-31T00:00:00.000Z,FUNDACION SOCIAL AMOR Y VIDA,NIT,813013497,...,NaN,NaN,NaN,NaN,NaN,NaN,Inactivo,2018,2018-02-01 00:00:00.000,2018-02-02 00:00:00.000
7,25,Cundinamarca,23738,25182016873,2016,2016-11-01T00:00:00.000Z,2018-07-31T00:00:00.000Z,ASOCIACION DE PADRES USUARIOS DE HOGARES COMUN...,NIT,808000153,...,N,NaN,NaN,NaN,2015-02-02 00:00:00.000,NaN,Activo,2018,2018-06-05 00:00:00.000,NaN
8,25,Cundinamarca,23738,25182016873,2016,2016-11-01T00:00:00.000Z,2018-07-31T00:00:00.000Z,ASOCIACION DE PADRES USUARIOS DE HOGARES COMUN...,NIT,808000153,...,N,NaN,NaN,NaN,2015-03-04 00:00:00.000,NaN,Activo,2018,2018-02-01 00:00:00.000,NaN
9,25,Cundinamarca,23738,25182016873,2016,2016-11-01T00:00:00.000Z,2018-07-31T00:00:00.000Z,ASOCIACION DE PADRES USUARIOS DE HOGARES COMUN...,NIT,808000153,...,N,NaN,NaN,NaN,2015-03-09 00:00:00.000,NaN,Activo,2018,2018-02-05 00:00:00.000,NaN

El siguiente paso es verificar cuantos datos nulos contiene el conjunto de datos

In [192]:
colNamesSalud=dfsalud.columns.values.tolist()
print("El número de columas es ",len(colNames))

El número de columas es  115

## Datos Nulos

La primera tarea consiste en cuantificar la cantidad de datos nulos del dataFrame, seleccionamos

In [193]:
a=0
for column in colNamesSalud:
    valnull=dfsalud[column].isnull().sum()
    pornull=round(valnull/30000*100)
    if pornull > 85:
        a=a+1
        print (a,column,valnull,pornull)

Eliminamos las columnas que tiene un % superior al 85% de datos nulos

In [194]:
colNamesSalud=dfsalud.columns.values.tolist()
for column in colNamesSalud:
    valnull=dfsalud[column].isnull().sum()
    pornull=round(valnull/30000*100)
    if pornull > 85:
       dfsalud.drop([column], axis='columns', inplace=True)

In [195]:
colNamesSalud=dfsalud.columns.values.tolist()
print("El número de columas es ",len(colNames))

El número de columas es  115

In [148]:
colNamesSalud

['DivipolaRegionalContrato',
 'RegionalContrato',
 'IdContrato',
 'NumeroContrato',
 'AcnoVigencia',
 'FechaInicio',
 'FechaFin',
 'NombreEntidadContratista',
 'CodDocumento',
 'Identificacion',
 'TipoEntidadContratista',
 'NombreRegionalUDS',
 'DivipolaMunicipioUDS',
 'MunicipioUDS',
 'NombreCentroZonal',
 'CodigoUnidadServicio',
 'NombreUnidadServicio',
 'NombreEstadoUnidadServicio',
 'NombreServicio',
 'FechaInicialServicio',
 'FechaFinalServicio',
 'NombreTipoBeneficiario',
 'IdBeneficiario',
 'TipoDocumento',
 'Documento',
 'PrimerNombre',
 'SegundoNombre',
 'PrimerApellido',
 'SegundoApellido',
 'FechaNacimiento',
 'EdadAños_FechaAten',
 'EdadMeses_FechaAten',
 'EdadDias',
 'EdadAños_FechaBack',
 'EdadMeses_FechaBack',
 'EdadDias_FechaBack',
 'Sexo',
 'GrupoEtnico',
 'DepartamentoNacimientoBeneficiario',
 'MunicipioNacimientoBeneficiario',
 'CodigoMunicipioNacimientoBeneficiario',
 'DepartamentoResidenciaBeneficiario',
 'MunicipioResidenciaBeneficiario',
 'CodigoMunicipioResidenciaBeneficiario',
 'ZonaUbicacion',
 'DireccionResidencia',
 'Peso',
 'Talla',
 'RegimenSeguridadSocial',
 'NombreEPS',
 'PresentaCarneVacunacion',
 'CarneCrecimientoDesarrollo',
 'CarneVacunacionAlDia',
 'ControlesCrecimDesarrollo',
 'SemanasGestacion',
 'ControlesPrenatales',
 'TipoComplementoNutricion',
 'FechaRecepFiscalRegistroCivil',
 'EstadoAtencionBeneficiario',
 'VigenciaAtencion',
 'FechaAtencion',
 'FechaDesvinculacionUDS']

In [146]:
dfsalud.dtypes

DivipolaRegionalContrato                   int64
RegionalContrato                          object
IdContrato                                 int64
NumeroContrato                             int64
AcnoVigencia                               int64
FechaInicio                               object
FechaFin                                  object
NombreEntidadContratista                  object
CodDocumento                              object
Identificacion                             int64
TipoEntidadContratista                    object
NombreRegionalUDS                         object
DivipolaMunicipioUDS                       int64
MunicipioUDS                              object
NombreCentroZonal                         object
CodigoUnidadServicio                       int64
NombreUnidadServicio                      object
NombreEstadoUnidadServicio                object
NombreServicio                            object
FechaInicialServicio                      object
FechaFinalServicio                        object
NombreTipoBeneficiario                    object
IdBeneficiario                             int64
TipoDocumento                             object
Documento                                 object
PrimerNombre                              object
SegundoNombre                             object
PrimerApellido                            object
SegundoApellido                           object
FechaNacimiento                           object
                                          ...
EdadDias                                   int64
EdadAños_FechaBack                         int64
EdadMeses_FechaBack                        int64
EdadDias_FechaBack                         int64
Sexo                                      object
GrupoEtnico                               object
DepartamentoNacimientoBeneficiario        object
MunicipioNacimientoBeneficiario           object
CodigoMunicipioNacimientoBeneficiario    float64
DepartamentoResidenciaBeneficiario        object
MunicipioResidenciaBeneficiario           object
CodigoMunicipioResidenciaBeneficiario      int64
ZonaUbicacion                             object
DireccionResidencia                       object
Peso                                     float64
Talla                                    float64
RegimenSeguridadSocial                    object
NombreEPS                                 object
PresentaCarneVacunacion                   object
CarneCrecimientoDesarrollo                object
CarneVacunacionAlDia                      object
ControlesCrecimDesarrollo                float64
SemanasGestacion                         float64
ControlesPrenatales                      float64
TipoComplementoNutricion                  object
FechaRecepFiscalRegistroCivil             object
EstadoAtencionBeneficiario                object
VigenciaAtencion                           int64
FechaAtencion                             object
FechaDesvinculacionUDS                    object
Length: 62, dtype: object

# Normalizacion

Los atributos de este conjunto de datos no requieren ser normalizados

## Descripción de dataset

In [153]:
dfsalud.describe()

,DivipolaRegionalContrato,IdContrato,NumeroContrato,AcnoVigencia,Identificacion,DivipolaMunicipioUDS,CodigoUnidadServicio,IdBeneficiario,EdadAños_FechaAten,EdadMeses_FechaAten,...,EdadMeses_FechaBack,EdadDias_FechaBack,CodigoMunicipioNacimientoBeneficiario,CodigoMunicipioResidenciaBeneficiario,Peso,Talla,ControlesCrecimDesarrollo,SemanasGestacion,ControlesPrenatales,VigenciaAtencion
count,29999.000000,29999.000000,2.999900e+04,29999.000000,2.999900e+04,29999.000000,2.999900e+04,2.999900e+04,29999.000000,29999.000000,...,29999.000000,29999.0,29754.000000,29999.000000,27386.000000,27386.000000,27386.000000,27386.000000,27386.000000,29999.0
mean,35.949798,26782.959565,7.748765e+09,2016.775126,8.526411e+08,36332.398647,2.804383e+12,1.367543e+07,3.416981,5.180239,...,5.569586,1.0,35024.341736,36304.492583,16.204454,92.780331,1.016067,1.584386,0.252465,2018.0
std,8.776393,2456.746781,2.132406e+10,0.595755,4.386519e+07,8760.304929,1.645877e+12,2.632894e+06,5.430040,3.447551,...,3.443178,0.0,12510.511340,8990.671886,13.062196,20.540333,0.641540,6.862061,1.192093,0.0
min,8.000000,22218.000000,3.000000e+01,2016.000000,8.000481e+08,8001.000000,2.501911e+11,3.267900e+04,0.000000,0.000000,...,0.000000,1.0,5001.000000,5088.000000,1.200000,0.000000,0.000000,0.000000,0.000000,2018.0
25%,25.000000,24487.000000,4.690000e+02,2016.000000,8.130075e+08,25772.000000,4.180711e+11,1.212927e+07,1.000000,2.000000,...,3.000000,1.0,25430.000000,25772.000000,11.000000,81.000000,1.000000,0.000000,0.000000,2018.0
50%,41.000000,27752.000000,4.960000e+02,2017.000000,8.390005e+08,41001.000000,4.100100e+12,1.438774e+07,2.000000,5.000000,...,6.000000,1.0,41001.000000,41001.000000,13.700000,92.000000,1.000000,0.000000,0.000000,2018.0
75%,41.000000,28712.000000,2.518202e+10,2017.000000,9.002993e+08,41551.000000,4.139600e+12,1.592993e+07,3.000000,8.000000,...,9.000000,1.0,41551.000000,41551.000000,16.000000,100.900000,1.000000,0.000000,0.000000,2018.0
max,44.000000,29291.000000,2.518202e+11,2018.000000,9.010186e+08,44874.000000,4.487400e+12,1.714496e+07,49.000000,11.000000,...,11.000000,1.0,99001.000000,86885.000000,157.000000,180.000000,4.000000,42.000000,29.000000,2018.0

Realizando una revisión preliminar y siendo este el archivo de beneficiarios nos interesa saber cual el es numero de niños atentidos por region discriminando el sexo, la edad promedio.

In [155]:
df_test=dfsalud[['RegionalContrato','Sexo',"EdadAños_FechaAten"]]
df_grp=df_test.groupby(['RegionalContrato','Sexo'], as_index=False).mean()
df_grpc=df_test.groupby(['RegionalContrato','Sexo'], as_index=False).count()
df_grpc=df_grpc.rename(columns={'EdadAños_FechaAten':'Población'})
df_grpc["Edad promedio"]=df_grp["EdadAños_FechaAten"]
df_grpc

  RegionalContrato Sexo  Población  Edad promedio
0        Atlántico    F        450       3.544444
1        Atlántico    M        467       2.691649
2     Cundinamarca    F       4039       4.356771
3     Cundinamarca    M       3990       2.416291
4            Huila    F       9890       4.723862
5            Huila    M       8755       2.022616
6       La Guajira    F       1262       4.201268
7       La Guajira    M       1146       2.344677

In [156]:
df_test=dfsalud[['RegionalContrato','MunicipioUDS','Sexo',"EdadAños_FechaAten"]]

In [157]:
df_grp=df_test.groupby(['RegionalContrato','MunicipioUDS','Sexo'], as_index=False).mean()
df_grpc=df_test.groupby(['RegionalContrato','MunicipioUDS','Sexo'], as_index=False).count()
df_grpc=df_grpc.rename(columns={'EdadAños_FechaAten':'Población'})
df_grpc["Edad promedio"]=df_grp["EdadAños_FechaAten"]
df_grpc

    RegionalContrato        MunicipioUDS Sexo  Población  Edad promedio
0          Atlántico        Barranquilla    F        426       3.610329
1          Atlántico        Barranquilla    M        445       2.712360
2          Atlántico             Malambo    F         24       2.375000
3          Atlántico             Malambo    M         22       2.272727
4       Cundinamarca        Agua De Dios    F         26       2.538462
5       Cundinamarca        Agua De Dios    M         25       2.360000
6       Cundinamarca               Alban    F          2       3.500000
7       Cundinamarca               Alban    M          7       2.571429
8       Cundinamarca            Anapoima    F         37       5.270270
9       Cundinamarca            Anapoima    M         36       2.250000
10      Cundinamarca            Anolaima    F         13       2.230769
11      Cundinamarca            Anolaima    M         30       2.833333
12      Cundinamarca               Apulo    F         25       4.960000
13      Cundinamarca               Apulo    M         23       2.086957
14      Cundinamarca            Arbelaez    F         32       7.187500
15      Cundinamarca            Arbelaez    M         22       1.818182
16      Cundinamarca             Bituima    F          5       2.000000
17      Cundinamarca             Bituima    M          2       3.000000
18      Cundinamarca              Bojaca    F         47       2.638298
19      Cundinamarca              Bojaca    M         45       2.555556
20      Cundinamarca             Cabrera    F          5       2.600000
21      Cundinamarca             Cabrera    M          5       3.000000
22      Cundinamarca            Cachipay    F         54       8.907407
23      Cundinamarca            Cachipay    M         46       1.000000
24      Cundinamarca              Cajica    F         75       3.026667
25      Cundinamarca              Cajica    M         94       3.170213
26      Cundinamarca             Caqueza    F        107       5.757009
27      Cundinamarca             Caqueza    M         85       1.894118
28      Cundinamarca    Carmen De Carupa    F         30       5.333333
29      Cundinamarca    Carmen De Carupa    M         41       1.804878
..               ...                 ...  ...        ...            ...
272       La Guajira             Albania    F          5       2.600000
273       La Guajira             Albania    M          5       3.000000
274       La Guajira           Barrancas    F         91       5.538462
275       La Guajira           Barrancas    M         67       2.641791
276       La Guajira             Dibulla    F         59       3.372881
277       La Guajira             Dibulla    M         57       2.245614
278       La Guajira         Distraccion    F         24       2.416667
279       La Guajira         Distraccion    M         17       3.117647
280       La Guajira           El Molino    F         20       7.950000
281       La Guajira           El Molino    M          9       0.111111
282       La Guajira             Fonseca    F         45       4.000000
283       La Guajira             Fonseca    M         35       2.200000
284       La Guajira           Hatonuevo    F          5       3.000000
285       La Guajira           Hatonuevo    M          6       2.833333
286       La Guajira  La Jagua Del Pilar    F          8       5.750000
287       La Guajira  La Jagua Del Pilar    M         13       1.230769
288       La Guajira              Maicao    F        230       3.769565
289       La Guajira              Maicao    M        197       2.116751
290       La Guajira             Manaure    F        101       3.029703
291       La Guajira             Manaure    M         93       2.666667
292       La Guajira            Riohacha    F         99       3.404040
293       La Guajira            Riohacha    M         71       2.295775
294       La Guajira  San Juan Del Cesar    F        170       3.664706
295       La Guajira  San Juan Del Cesar    M        137       1.978102
296       La Guajira              Uribia    F        252       2.952381
297       La Guajira              Uribia    M        311       3.041801
298       La Guajira             Urumita    F         23      11.173913
299       La Guajira             Urumita    M         11       0.272727
300       La Guajira          Villanueva    F        130       7.646154
301       La Guajira          Villanueva    M        117       1.324786

[302 rows x 5 columns]

## Datos duplicados

Primer experimento para validar datos repetidos, para lo cual el primer ejercicio es realizar un conteo del numero de documento, el cual en teoría debe existir en un solo registro. El primer hallazgo que se evidencia en esta análisis es el que en el archivo de beneficiarios el atributo del documento aparece como 'Numero_de_documento' y en el de atención salud 'Documento' siendo los dos el mismo atributo del mismo objeto.

In [159]:
doc_counts=dfsalud['Documento'].value_counts()
doc_counts.rename(columns={'Documento':'value_counts'}, inplace=True)

1122848093    4
1144634023    3
1077238868    3
1144633055    3
1076917921    3
1077240874    3
1077244156    3
1029889033    3
1029891149    3
1029888654    3
1077734982    3
1077244259    3
1083920138    3
1077734794    3
1076916105    3
1076915184    3
1077241758    3
1144635177    3
1201467869    3
1076916368    3
1077244989    3
1084260739    3
1077245527    3
1077733274    3
1076917637    3
1076917254    3
1075301543    3
1029888917    3
1029580937    3
1010968627    3
             ..
1081701687    1
1024594316    1
1194971393    1
1077240939    1
1077242338    1
1062088734    1
1075321341    1
1082216764    1
1072109988    1
1081701872    1
1077238977    1
1170463322    1
1145730142    1
1081419785    1
1076914784    1
1144633990    1
1084899863    1
1077730298    1
1031837548    1
1062090105    1
1020001886    1
1027296785    1
1075806009    1
1076915863    1
1145729830    1
1043470923    1
1119403287    1
1122416954    1
1084869320    1
1121545854    1
Length: 29079, dtype: int64

Se observa que existen documentos identicos que se encuentran en mas de un registro, el siguiente paso es verificar toda la fila, intentado establecer si realmente son datos duplicados o son diferetes objetos

In [160]:
dfsalud = dfsalud.drop_duplicates()
dfsalud.duplicated()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
29969    False
29970    False
29971    False
29972    False
29973    False
29974    False
29975    False
29976    False
29977    False
29978    False
29979    False
29980    False
29981    False
29982    False
29983    False
29984    False
29985    False
29986    False
29987    False
29988    False
29989    False
29990    False
29991    False
29992    False
29993    False
29994    False
29995    False
29996    False
29997    False
29998    False
Length: 29999, dtype: bool

Se concluye que son diferentes objetos.

## Análisis en cojunto de los archivos

Este análisis tiene como objetivo realizar una comparación de los atributos del archivo de beneficiarios y de atención salud. El primer paso es identificar cuales son los atributos que se encuentran en los dos archivos. Es importante que la muestra de los archivos sea del mismo tamaño

In [152]:
lista1=set(colNamesSalud)
lista2=set(colNames)
 
final= lista1 & lista2
if len(final) > 0 :
    print("hay {} elementos coincidentes".format(len(final)))
    print(final)
else:
    print("no hay repeticiones")

hay 42 elementos coincidentes
{'PrimerNombre', 'MunicipioUDS', 'CodigoUnidadServicio', 'SegundoApellido', 'TipoEntidadContratista', 'Documento', 'DireccionResidencia', 'FechaNacimiento', 'FechaInicio', 'FechaFin', 'GrupoEtnico', 'EdadDias_FechaBack', 'NombreServicio', 'IdBeneficiario', 'TipoDocumento', 'CodigoMunicipioResidenciaBeneficiario', 'AcnoVigencia', 'EdadAños_FechaAten', 'EdadAños_FechaBack', 'CodigoMunicipioNacimientoBeneficiario', 'DepartamentoNacimientoBeneficiario', 'EdadDias', 'VigenciaAtencion', 'FechaDesvinculacionUDS', 'MunicipioNacimientoBeneficiario', 'SegundoNombre', 'Sexo', 'CodDocumento', 'NombreEntidadContratista', 'EdadMeses_FechaBack', 'RegionalContrato', 'EdadMeses_FechaAten', 'NombreUnidadServicio', 'DepartamentoResidenciaBeneficiario', 'IdContrato', 'NombreTipoBeneficiario', 'PrimerApellido', 'ZonaUbicacion', 'FechaAtencion', 'EstadoAtencionBeneficiario', 'NumeroContrato', 'MunicipioResidenciaBeneficiario'}

Se crean dos dataframe auxiliares para realizar esta comparación, con los atributos resultado de la operación anterior

In [169]:
dfAux1=dfsalud[['PrimerNombre', 'MunicipioUDS', 'CodigoUnidadServicio', 'SegundoApellido', 'TipoEntidadContratista', 'Documento', 'DireccionResidencia', 'FechaNacimiento', 'FechaInicio', 'FechaFin', 'GrupoEtnico', 'EdadDias_FechaBack', 'NombreServicio', 'IdBeneficiario', 'TipoDocumento', 'CodigoMunicipioResidenciaBeneficiario', 'AcnoVigencia', 'EdadAños_FechaAten', 'EdadAños_FechaBack', 'CodigoMunicipioNacimientoBeneficiario', 'DepartamentoNacimientoBeneficiario', 'EdadDias', 'VigenciaAtencion', 'FechaDesvinculacionUDS', 'MunicipioNacimientoBeneficiario', 'SegundoNombre', 'Sexo', 'CodDocumento', 'NombreEntidadContratista', 'EdadMeses_FechaBack', 'RegionalContrato', 'EdadMeses_FechaAten', 'NombreUnidadServicio', 'DepartamentoResidenciaBeneficiario', 'IdContrato', 'NombreTipoBeneficiario', 'PrimerApellido', 'ZonaUbicacion', 'FechaAtencion', 'EstadoAtencionBeneficiario', 'NumeroContrato', 'MunicipioResidenciaBeneficiario']]
dfAux2=df[['PrimerNombre', 'MunicipioUDS', 'CodigoUnidadServicio', 'SegundoApellido', 'TipoEntidadContratista', 'Documento', 'DireccionResidencia', 'FechaNacimiento', 'FechaInicio', 'FechaFin', 'GrupoEtnico', 'EdadDias_FechaBack', 'NombreServicio', 'IdBeneficiario', 'TipoDocumento', 'CodigoMunicipioResidenciaBeneficiario', 'AcnoVigencia', 'EdadAños_FechaAten', 'EdadAños_FechaBack', 'CodigoMunicipioNacimientoBeneficiario', 'DepartamentoNacimientoBeneficiario', 'EdadDias', 'VigenciaAtencion', 'FechaDesvinculacionUDS', 'MunicipioNacimientoBeneficiario', 'SegundoNombre', 'Sexo', 'CodDocumento', 'NombreEntidadContratista', 'EdadMeses_FechaBack', 'RegionalContrato', 'EdadMeses_FechaAten', 'NombreUnidadServicio', 'DepartamentoResidenciaBeneficiario', 'IdContrato', 'NombreTipoBeneficiario', 'PrimerApellido', 'ZonaUbicacion', 'FechaAtencion', 'EstadoAtencionBeneficiario', 'NumeroContrato', 'MunicipioResidenciaBeneficiario']]
dfBool = (dfAux1 != dfAux2).stack()  # Create Frame of comparison booleans
dfdiff = pd.concat([dfAux1.stack()[dfBool],dfAux2.stack()[dfBool]], axis=1)
dfdiff.columns=["Old", "New"]
print(dfdiff)

                                                                                           Old  \
0     AcnoVigencia                                                                        2017
      CodigoMunicipioNacimientoBeneficiario                                              41378
      CodigoMunicipioResidenciaBeneficiario                                              41378
      CodigoUnidadServicio                                                       4137800124896
      DepartamentoNacimientoBeneficiario                                                 Huila
      DepartamentoResidenciaBeneficiario                                                 Huila
      DireccionResidencia                                                             PORVENIR
      Documento                                                                     1080266998
      EdadAños_FechaAten                                                                     0
      EdadAños_FechaBack                                                                     0
      EdadMeses_FechaAten                                                                    4
      EdadMeses_FechaBack                                                                    9
      EstadoAtencionBeneficiario                                                      Inactivo
      FechaDesvinculacionUDS                                           2018-02-02 00:00:00.000
      FechaInicio                                                     2017-12-16T00:00:00.000Z
      FechaNacimiento                                                 2017-09-27T00:00:00.000Z
      GrupoEtnico                              NO SE AUTORECONOCE EN NINGUNO DE LOS ANTERIORES
      IdBeneficiario                                                                  16093984
      IdContrato                                                                         28471
      MunicipioNacimientoBeneficiario                                             La Argentina
      MunicipioResidenciaBeneficiario                                             La Argentina
      MunicipioUDS                                                                La Argentina
      NombreEntidadContratista                                    FUNDACION SOCIAL AMOR Y VIDA
      NombreServicio                         DESARROLLO INFANTIL EN MEDIO FAMILIAR CON ARRI...
      NombreTipoBeneficiario                                               MENOR DE SEIS MESES
      NombreUnidadServicio                                                  CDI MANOS AMIGAS 2
      NumeroContrato                                                                       502
      PrimerApellido                                                                    RIVERA
      PrimerNombre                                                                    MADELEIV
      RegionalContrato                                                                   Huila
...                                                                                        ...
29998 DepartamentoResidenciaBeneficiario                                            La Guajira
      DireccionResidencia                                                         PANTERRAMANA
      Documento                                                                     1195715196
      EdadAños_FechaAten                                                                     1
      EdadAños_FechaBack                                                                     2
      EdadDias                                                                              15
      EdadMeses_FechaAten                                                                    9
      EdadMeses_FechaBack                                                                    3
      EstadoAtencionBeneficiario                                                        Activo
      FechaAtencion                                                    2018-02-01 00:00:00.000
      FechaDesvinculacionUDS                                                               NaN
      FechaInicio                                                     2016-10-31T00:00:00.000Z
      FechaNacimiento                                                 2016-04-05T00:00:00.000Z
      GrupoEtnico                                                                          NaN
      IdBeneficiario                                                                  15049172
      IdContrato                                                                         24557
      MunicipioNacimientoBeneficiario                                                   Uribia
      MunicipioResidenciaBeneficiario                                                   Uribia
      MunicipioUDS                                                                      Uribia
      NombreEntidadContratista               ASOCIACION DE AUTORIDADES TRADICIONALES WAYUU ...
      NombreServicio                         SERVICIO ESPECIAL PARA LA PRIMERA INFANCIA  - ...
      NombreUnidadServicio                                        HCB COMUNITARIO PANTERRAMANA
      NumeroContrato                                                                       513
      PrimerApellido                                                                  GONZALEZ
      PrimerNombre                                                                      ALHANA
      RegionalContrato                                                              La Guajira
      SegundoApellido                                                                  MACHADO
      SegundoNombre                                                                      SOFIA
      TipoEntidadContratista                                                OTRAS ASOCIACIONES
      ZonaUbicacion                                                                      RESTO

                                                                                           New
0     AcnoVigencia                                                                        2016
      CodigoMunicipioNacimientoBeneficiario                                              13001
      CodigoMunicipioResidenciaBeneficiario                                              13001
      CodigoUnidadServicio                                                       1300100096367
      DepartamentoNacimientoBeneficiario                                               Bolívar
      DepartamentoResidenciaBeneficiario                                               Bolívar
      DireccionResidencia                                   PASEO BOLIVAR CALLE 46 SECTOR ALTO
      Documento                                                                     1043317635
      EdadAños_FechaAten                                                                     3
      EdadAños_FechaBack                                                                     4
      EdadMeses_FechaAten                                                                    9
      EdadMeses_FechaBack                                                                    3
      EstadoAtencionBeneficiario                                                        Activo
      FechaDesvinculacionUDS                                                               NaN
      FechaInicio                                                     2016-11-01T00:00:00.000Z
      FechaNacimiento                                                  2014-04-04 00:00:00.000
      GrupoEtnico                                                               AFROCOLOMBIANO
      IdBeneficiario                                                                  10653124
      IdContrato                                                                         24759
      MunicipioNacimientoBeneficiario                                      Cartagena De Indias
      MunicipioResidenciaBeneficiario                                      Cartagena De Indias
      MunicipioUDS                                                         Cartagena De Indias
      NombreEntidadContratista                                    FUNDACION GRANITO DE MOSTAZA
      NombreServicio                                          HCB TRADICIONAL- COMUNITARIO (T)
      NombreTipoBeneficiario                     NIÑO O NIÑA ENTRE 6 MESES Y 5 AÑOS Y 11 MESES
      NombreUnidadServicio                                                ANGELITOS DE COLORES
      NumeroContrato                                                                   7722016
      PrimerApellido                                                                   COGOLLO
      PrimerNombre                                                                      LAUREN
      RegionalContrato                                                                 Bolívar
...                                                                                        ...
29998 DepartamentoResidenciaBeneficiario                                               Bolívar
      DireccionResidencia                                              SINCELEJITO BELLA VISTA
      Documento                                                                     1052092934
      EdadAños_FechaAten                                                                     3
      EdadAños_FechaBack                                                                     3
      EdadDias                                                                               0
      EdadMeses_FechaAten                                                                    3
      EdadMeses_FechaBack                                                                    9
      EstadoAtencionBeneficiario                                                 Inconsistente
      FechaAtencion                                                    2018-01-24 00:00:00.000
      FechaDesvinculacionUDS                                           2018-01-25 00:00:00.000
      FechaInicio                                                     2017-12-16T00:00:00.000Z
      FechaNacimiento                                                  2014-10-13 00:00:00.000
      GrupoEtnico                              NO SE AUTORECONOCE EN NINGUNO DE LOS ANTERIORES
      IdBeneficiario                                                                  11442755
      IdContrato                                                                         28504
      MunicipioNacimientoBeneficiario                                     El Carmen De Bolivar
      MunicipioResidenciaBeneficiario                                     El Carmen De Bolivar
      MunicipioUDS                                                        El Carmen De Bolivar
      NombreEntidadContratista               FUNDACION PARA EL DESARROLLO AMBIENTAL Y COMUN...
      NombreServicio                                CDI SIN ARRIENDO -  INSTITUCIONAL INTEGRAL
      NombreUnidadServicio                   CENTRO DE DESARROLLO INFANTIL CONSTRUYENDO SUEÑOS
      NumeroContrato                                                                   4462017
      PrimerApellido                                                                   BENITEZ
      PrimerNombre                                                                     ISABELA
      RegionalContrato                                                                 Bolívar
      SegundoApellido                                                                   QUIROZ
      SegundoNombre                                                                        NaN
      TipoEntidadContratista                                                       FUNDACIONES
      ZonaUbicacion                                                                          C

[935873 rows x 2 columns]

In [170]:
dfdiff.head(5)

                                                   Old            New
0 AcnoVigencia                                    2017           2016
  CodigoMunicipioNacimientoBeneficiario          41378          13001
  CodigoMunicipioResidenciaBeneficiario          41378          13001
  CodigoUnidadServicio                   4137800124896  1300100096367
  DepartamentoNacimientoBeneficiario             Huila        Bolívar

### Método 2

In [172]:
dfunion=dfAux1.merge(dfAux2, how='outer', indicator='union')

In [173]:
dfunion[dfunion.union=='both']

Empty DataFrame
Columns: [PrimerNombre, MunicipioUDS, CodigoUnidadServicio, SegundoApellido, TipoEntidadContratista, Documento, DireccionResidencia, FechaNacimiento, FechaInicio, FechaFin, GrupoEtnico, EdadDias_FechaBack, NombreServicio, IdBeneficiario, TipoDocumento, CodigoMunicipioResidenciaBeneficiario, AcnoVigencia, EdadAños_FechaAten, EdadAños_FechaBack, CodigoMunicipioNacimientoBeneficiario, DepartamentoNacimientoBeneficiario, EdadDias, VigenciaAtencion, FechaDesvinculacionUDS, MunicipioNacimientoBeneficiario, SegundoNombre, Sexo, CodDocumento, NombreEntidadContratista, EdadMeses_FechaBack, RegionalContrato, EdadMeses_FechaAten, NombreUnidadServicio, DepartamentoResidenciaBeneficiario, IdContrato, NombreTipoBeneficiario, PrimerApellido, ZonaUbicacion, FechaAtencion, EstadoAtencionBeneficiario, NumeroContrato, MunicipioResidenciaBeneficiario, union]
Index: []

[0 rows x 43 columns]

Se conlcuye que son objetos diferentes

# PREPROCESAMIENTO SEGUIMIENTO ATENCIONES

In [175]:
path='C:/Users/SENA/Documents/pythonAnalitic/ICBF/seguimietoAtenciones.csv'
dfsegatenciones = pd.read_csv(path)

In [176]:
headers=['CodigoRegionalContrato', 'RegionalContrato', 'IdContrato', 'NumeroContrato', 'AcnoVigencia', 'NombreEntidadContratista', 'CodDocumento', 'IdentificacionEntidadContratista', 'CodigoRegionalUDS', 'RegionalUDS', 'CodigoDepartamentoUDS', 'DepartamentoUDS', 'CodigoMunicipioUDS', 'MunicipioUDS', 'CodigoCentroZonalUDS', 'CentroZonalUDS', 'IdUnidadServicio', 'CodigoUnidadServicio', 'NombreUnidadServicio', 'IdServicioVigencia', 'NombreServicio', 'NombreTipoBeneficiario', 'IdBeneficiario', 'TipoDocumento', 'Documento', 'PrimerNombre', 'SegundoNombre', 'PrimerApellido', 'SegundoApellido', 'FechaNacimiento', 'Sexo', 'GrupoEtnico', 'PaisNacimientoBeneficiario', 'PresentaDiscapacidad', 'IdAtencionBeneficiario', 'FechaAtencion', 'FechaDesvinculacionUDS', 'EstadoAtencionBeneficiario', 'AtencionRC', 'AtencionSeguimientoNutricional', 'AtencionVacunas', 'AtencionFormacion', 'AtencionAfiliacionSalud', 'AtencionAccesoLibros', 'AtencionCrecimientoDesarrollo', 'AtencionTH_Cualificado', 'CantidadAtenciones']
dfsegatenciones.columns=headers

In [177]:
dfsegatenciones.head(10)

,CodigoRegionalContrato,RegionalContrato,IdContrato,NumeroContrato,AcnoVigencia,NombreEntidadContratista,CodDocumento,IdentificacionEntidadContratista,CodigoRegionalUDS,RegionalUDS,...,EstadoAtencionBeneficiario,AtencionRC,AtencionSeguimientoNutricional,AtencionVacunas,AtencionFormacion,AtencionAfiliacionSalud,AtencionAccesoLibros,AtencionCrecimientoDesarrollo,AtencionTH_Cualificado,CantidadAtenciones
0,23,Córdoba,23494,232016472,2016,ASOCIACION UNIDOS POR LA INFANCIA ASUINFANCIA,NIT,900140632,23,Córdoba,...,Activo,1,0,1,0,1,1,1,1,6
1,23,Córdoba,23494,232016472,2016,ASOCIACION UNIDOS POR LA INFANCIA ASUINFANCIA,NIT,900140632,23,Córdoba,...,Activo,1,0,1,0,1,1,1,1,6
2,23,Córdoba,23494,232016472,2016,ASOCIACION UNIDOS POR LA INFANCIA ASUINFANCIA,NIT,900140632,23,Córdoba,...,Activo,1,0,1,0,1,1,1,1,6
3,23,Córdoba,23494,232016472,2016,ASOCIACION UNIDOS POR LA INFANCIA ASUINFANCIA,NIT,900140632,23,Córdoba,...,Activo,1,0,1,0,1,1,1,1,6
4,23,Córdoba,23494,232016472,2016,ASOCIACION UNIDOS POR LA INFANCIA ASUINFANCIA,NIT,900140632,23,Córdoba,...,Activo,1,0,1,0,1,1,1,1,6
5,23,Córdoba,23494,232016472,2016,ASOCIACION UNIDOS POR LA INFANCIA ASUINFANCIA,NIT,900140632,23,Córdoba,...,Activo,1,0,1,0,1,1,1,1,6
6,23,Córdoba,23494,232016472,2016,ASOCIACION UNIDOS POR LA INFANCIA ASUINFANCIA,NIT,900140632,23,Córdoba,...,Activo,1,0,1,0,1,1,1,1,6
7,23,Córdoba,23494,232016472,2016,ASOCIACION UNIDOS POR LA INFANCIA ASUINFANCIA,NIT,900140632,23,Córdoba,...,Activo,1,0,1,0,1,1,1,1,6
8,23,Córdoba,23494,232016472,2016,ASOCIACION UNIDOS POR LA INFANCIA ASUINFANCIA,NIT,900140632,23,Córdoba,...,Activo,1,0,1,0,1,1,1,1,6
9,23,Córdoba,23494,232016472,2016,ASOCIACION UNIDOS POR LA INFANCIA ASUINFANCIA,NIT,900140632,23,Córdoba,...,Activo,1,0,1,0,1,1,1,1,6

El siguiente paso es verificar cuantos datos nulos contiene el conjunto de datos

In [182]:
colNamesSegaten=dfsegatenciones.columns.values.tolist()
print("El número de columas es ",len(colNamesSegaten))

El número de columas es  47

## Datos Nulos

La primera tarea consiste en cuantificar la cantidad de datos nulos del dataFrame, seleccionamos

In [198]:
a=0
for column in colNamesSegaten:
    valnull=dfsegatenciones[column].isnull().sum()
    pornull=round(valnull/30000*100)
    if pornull > 85:
        a=a+1
        print (a,column,valnull,pornull)

Eliminamos las columnas que tiene un % superior al 85% de datos nulos

In [199]:
for column in colNamesSegaten:
    valnull=dfsegatenciones[column].isnull().sum()
    pornull=round(valnull/30000*100)
    if pornull > 85:
       dfsegatenciones.drop([column], axis='columns', inplace=True)

In [200]:
colNamesSegaten=dfsegatenciones.columns.values.tolist()
print("El número de columas es ",len(colNamesSegaten))

El número de columas es  47

In [185]:
colNamesSegaten

['CodigoRegionalContrato',
 'RegionalContrato',
 'IdContrato',
 'NumeroContrato',
 'AcnoVigencia',
 'NombreEntidadContratista',
 'CodDocumento',
 'IdentificacionEntidadContratista',
 'CodigoRegionalUDS',
 'RegionalUDS',
 'CodigoDepartamentoUDS',
 'DepartamentoUDS',
 'CodigoMunicipioUDS',
 'MunicipioUDS',
 'CodigoCentroZonalUDS',
 'CentroZonalUDS',
 'IdUnidadServicio',
 'CodigoUnidadServicio',
 'NombreUnidadServicio',
 'IdServicioVigencia',
 'NombreServicio',
 'NombreTipoBeneficiario',
 'IdBeneficiario',
 'TipoDocumento',
 'Documento',
 'PrimerNombre',
 'SegundoNombre',
 'PrimerApellido',
 'SegundoApellido',
 'FechaNacimiento',
 'Sexo',
 'GrupoEtnico',
 'PaisNacimientoBeneficiario',
 'PresentaDiscapacidad',
 'IdAtencionBeneficiario',
 'FechaAtencion',
 'FechaDesvinculacionUDS',
 'EstadoAtencionBeneficiario',
 'AtencionRC',
 'AtencionSeguimientoNutricional',
 'AtencionVacunas',
 'AtencionFormacion',
 'AtencionAfiliacionSalud',
 'AtencionAccesoLibros',
 'AtencionCrecimientoDesarrollo',
 'AtencionTH_Cualificado',
 'CantidadAtenciones']

In [186]:
dfsegatenciones.dtypes

CodigoRegionalContrato               int64
RegionalContrato                    object
IdContrato                           int64
NumeroContrato                       int64
AcnoVigencia                         int64
NombreEntidadContratista            object
CodDocumento                        object
IdentificacionEntidadContratista     int64
CodigoRegionalUDS                    int64
RegionalUDS                         object
CodigoDepartamentoUDS                int64
DepartamentoUDS                     object
CodigoMunicipioUDS                   int64
MunicipioUDS                        object
CodigoCentroZonalUDS                 int64
CentroZonalUDS                      object
IdUnidadServicio                     int64
CodigoUnidadServicio                 int64
NombreUnidadServicio                object
IdServicioVigencia                   int64
NombreServicio                      object
NombreTipoBeneficiario              object
IdBeneficiario                       int64
TipoDocumento                       object
Documento                           object
PrimerNombre                        object
SegundoNombre                       object
PrimerApellido                      object
SegundoApellido                     object
FechaNacimiento                     object
Sexo                                object
GrupoEtnico                         object
PaisNacimientoBeneficiario          object
PresentaDiscapacidad                object
IdAtencionBeneficiario               int64
FechaAtencion                       object
FechaDesvinculacionUDS              object
EstadoAtencionBeneficiario          object
AtencionRC                           int64
AtencionSeguimientoNutricional       int64
AtencionVacunas                      int64
AtencionFormacion                    int64
AtencionAfiliacionSalud              int64
AtencionAccesoLibros                 int64
AtencionCrecimientoDesarrollo        int64
AtencionTH_Cualificado               int64
CantidadAtenciones                   int64
dtype: object

# Normalizacion

Los atributos de este conjunto de datos no requieren ser normalizados

## Descripción de dataset

In [187]:
dfsegatenciones.describe()

,CodigoRegionalContrato,IdContrato,NumeroContrato,AcnoVigencia,IdentificacionEntidadContratista,CodigoRegionalUDS,CodigoDepartamentoUDS,CodigoMunicipioUDS,CodigoCentroZonalUDS,IdUnidadServicio,...,IdAtencionBeneficiario,AtencionRC,AtencionSeguimientoNutricional,AtencionVacunas,AtencionFormacion,AtencionAfiliacionSalud,AtencionAccesoLibros,AtencionCrecimientoDesarrollo,AtencionTH_Cualificado,CantidadAtenciones
count,29999.000000,29999.000000,2.999900e+04,29999.000000,2.999900e+04,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,...,2.999900e+04,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000
mean,23.411080,26209.447282,1.088284e+10,2016.518951,8.323812e+08,23.411080,23.411080,23830.159939,2345.182573,171028.820327,...,2.409896e+07,0.997500,0.000033,0.917564,0.000133,0.892496,0.471316,0.913764,0.929964,5.122771
std,0.808205,2069.919470,3.926538e+10,0.525596,4.047337e+07,0.808205,0.808205,917.956483,81.240041,42864.481739,...,8.575932e+05,0.049939,0.005774,0.275033,0.011547,0.309758,0.499185,0.280717,0.255211,1.087186
min,23.000000,21794.000000,2.320164e+08,2016.000000,8.000091e+08,23.000000,23.000000,23001.000000,2301.000000,76691.000000,...,1.895288e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,24494.000000,2.320165e+08,2016.000000,8.020187e+08,23.000000,23.000000,23162.000000,2302.000000,146220.000000,...,2.333739e+07,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,5.000000
50%,23.000000,27679.000000,2.320174e+08,2017.000000,8.110387e+08,23.000000,23.000000,23555.000000,2305.000000,172401.000000,...,2.408469e+07,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,5.000000
75%,23.000000,27949.000000,2.320174e+08,2017.000000,8.909052e+08,23.000000,23.000000,23807.000000,2308.000000,206939.000000,...,2.455167e+07,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,6.000000
max,25.000000,29176.000000,2.518202e+11,2018.000000,9.004839e+08,25.000000,25.000000,25899.000000,2513.000000,236434.000000,...,2.583041e+07,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,6.000000

Realizando una revisión preliminar y siendo este el archivo de beneficiarios nos interesa saber cual el es numero de niños atentidos por region discriminando el sexo, la edad promedio.

## Datos duplicados

Primer experimento para validar datos repetidos, para lo cual el primer ejercicio es realizar un conteo del numero de documento, el cual en teoría debe existir en un solo registro. El primer hallazgo que se evidencia en esta análisis es el que en el archivo de beneficiarios el atributo del documento aparece como 'Numero_de_documento' y en el de atención salud 'Documento' siendo los dos el mismo atributo del mismo objeto.

In [189]:
doc_counts=dfsegatenciones['Documento'].value_counts()
doc_counts.rename(columns={'Documento':'value_counts'}, inplace=True)

1069989461    4
1013143718    3
1068669388    3
1002998461    3
1072531542    3
1064197061    3
1024580923    3
1119714989    3
1073818587    3
1073827401    3
1073608320    2
1063178624    2
1067293046    2
1063175325    2
1031840682    2
1196970995    2
1233340614    2
1022421134    2
1066749836    2
1067292607    2
1129809261    2
1030672077    2
1063791930    2
1063174483    2
1066526320    2
1023408303    2
1074006935    2
1072073701    2
1196968963    2
1067407137    2
             ..
1063309770    1
1010844991    1
1003563919    1
1062980040    1
21088879      1
1023407431    1
1063303263    1
1067172558    1
1071790018    1
1067883056    1
1068739434    1
1233346078    1
1138088926    1
1063153706    1
1064195499    1
1068671208    1
1015447094    1
1067172641    1
1067292636    1
1074013149    1
1072497662    1
1065012886    1
1062532730    1
1062537604    1
1068671432    1
1069231106    1
1067293650    1
1063181661    1
1062979082    1
1033376749    1
Length: 29522, dtype: int64

Se observa que existen documentos identicos que se encuentran en mas de un registro, el siguiente paso es verificar toda la fila, intentado establecer si realmente son datos duplicados o son diferetes objetos

In [190]:
dfsegatenciones = dfsegatenciones.drop_duplicates()
dfsegatenciones.duplicated()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
29969    False
29970    False
29971    False
29972    False
29973    False
29974    False
29975    False
29976    False
29977    False
29978    False
29979    False
29980    False
29981    False
29982    False
29983    False
29984    False
29985    False
29986    False
29987    False
29988    False
29989    False
29990    False
29991    False
29992    False
29993    False
29994    False
29995    False
29996    False
29997    False
29998    False
Length: 29999, dtype: bool

Se concluye que son diferentes objetos.

## Análisis en cojunto de los archivos

Este análisis tiene como objetivo realizar una comparación de los atributos del archivo de beneficiarios y de atención salud. El primer paso es identificar cuales son los atributos que se encuentran en los dos archivos. Es importante que la muestra de los archivos sea del mismo tamaño

In [201]:
lista1=set(colNamesSegaten)
lista2=set(colNames)
 
final= lista1 & lista2
if len(final) > 0 :
    print("hay {} elementos coincidentes".format(len(final)))
    print(final)
else:
    print("no hay repeticiones")

hay 37 elementos coincidentes
{'PrimerNombre', 'MunicipioUDS', 'CodigoUnidadServicio', 'SegundoApellido', 'CodigoCentroZonalUDS', 'Documento', 'IdServicioVigencia', 'FechaNacimiento', 'PresentaDiscapacidad', 'CodigoMunicipioUDS', 'GrupoEtnico', 'CodigoRegionalContrato', 'NombreServicio', 'IdBeneficiario', 'TipoDocumento', 'AcnoVigencia', 'CodigoDepartamentoUDS', 'CentroZonalUDS', 'CodigoRegionalUDS', 'DepartamentoUDS', 'IdentificacionEntidadContratista', 'FechaDesvinculacionUDS', 'SegundoNombre', 'Sexo', 'CodDocumento', 'IdUnidadServicio', 'RegionalUDS', 'NombreEntidadContratista', 'RegionalContrato', 'NombreUnidadServicio', 'IdContrato', 'NombreTipoBeneficiario', 'PrimerApellido', 'FechaAtencion', 'EstadoAtencionBeneficiario', 'NumeroContrato', 'PaisNacimientoBeneficiario'}

Se crean dos dataframe auxiliares para realizar esta comparación, con los atributos resultado de la operación anterior

In [202]:
dfAux1=dfsegatenciones[['PrimerNombre', 'MunicipioUDS', 'CodigoUnidadServicio', 'SegundoApellido', 'CodigoCentroZonalUDS', 'Documento', 'IdServicioVigencia', 'FechaNacimiento', 'PresentaDiscapacidad', 'CodigoMunicipioUDS', 'GrupoEtnico', 'CodigoRegionalContrato', 'NombreServicio', 'IdBeneficiario', 'TipoDocumento', 'AcnoVigencia', 'CodigoDepartamentoUDS', 'CentroZonalUDS', 'CodigoRegionalUDS', 'DepartamentoUDS', 'IdentificacionEntidadContratista', 'FechaDesvinculacionUDS', 'SegundoNombre', 'Sexo', 'CodDocumento', 'IdUnidadServicio', 'RegionalUDS', 'NombreEntidadContratista', 'RegionalContrato', 'NombreUnidadServicio', 'IdContrato', 'NombreTipoBeneficiario', 'PrimerApellido', 'FechaAtencion', 'EstadoAtencionBeneficiario', 'NumeroContrato', 'PaisNacimientoBeneficiario']]
dfAux2=df[['PrimerNombre', 'MunicipioUDS', 'CodigoUnidadServicio', 'SegundoApellido', 'CodigoCentroZonalUDS', 'Documento', 'IdServicioVigencia', 'FechaNacimiento', 'PresentaDiscapacidad', 'CodigoMunicipioUDS', 'GrupoEtnico', 'CodigoRegionalContrato', 'NombreServicio', 'IdBeneficiario', 'TipoDocumento', 'AcnoVigencia', 'CodigoDepartamentoUDS', 'CentroZonalUDS', 'CodigoRegionalUDS', 'DepartamentoUDS', 'IdentificacionEntidadContratista', 'FechaDesvinculacionUDS', 'SegundoNombre', 'Sexo', 'CodDocumento', 'IdUnidadServicio', 'RegionalUDS', 'NombreEntidadContratista', 'RegionalContrato', 'NombreUnidadServicio', 'IdContrato', 'NombreTipoBeneficiario', 'PrimerApellido', 'FechaAtencion', 'EstadoAtencionBeneficiario', 'NumeroContrato', 'PaisNacimientoBeneficiario']]
dfunion=dfAux1.merge(dfAux2, how='outer', indicator='union')

In [203]:
dfunion[dfunion.union=='both']

Empty DataFrame
Columns: [PrimerNombre, MunicipioUDS, CodigoUnidadServicio, SegundoApellido, CodigoCentroZonalUDS, Documento, IdServicioVigencia, FechaNacimiento, PresentaDiscapacidad, CodigoMunicipioUDS, GrupoEtnico, CodigoRegionalContrato, NombreServicio, IdBeneficiario, TipoDocumento, AcnoVigencia, CodigoDepartamentoUDS, CentroZonalUDS, CodigoRegionalUDS, DepartamentoUDS, IdentificacionEntidadContratista, FechaDesvinculacionUDS, SegundoNombre, Sexo, CodDocumento, IdUnidadServicio, RegionalUDS, NombreEntidadContratista, RegionalContrato, NombreUnidadServicio, IdContrato, NombreTipoBeneficiario, PrimerApellido, FechaAtencion, EstadoAtencionBeneficiario, NumeroContrato, PaisNacimientoBeneficiario, union]
Index: []

[0 rows x 38 columns]

Se conlcuye que son objetos diferentes

# PREPROCESAMIENTO ARCHIVO TALENTO HUMANO

In [3]:
path='C:/Users/SENA/Documents/pythonAnalitic/ICBF/talentoHumano.csv'
dftalento = pd.read_csv(path)

In [213]:
headers=['TipoDocumento', 'NumeroDocumento', 'PrimerNombre', 'SegundoNombre', 'PrimerApellido', 'SegundoApellido', 'DepartamentoResidencia', 'MunicipioResidencia', 'ZonaUbicación', 'CentroPoblado', 'ComunaLocalidad', 'Barrio', 'Vereda', 'DireccionResidencia', 'Telefono', 'Celular', 'CorreroElectronico', 'FechaNacimiento', 'EdadActual', 'Sexo', 'MaxNivelEducativoAlcanzado', 'UltimoGradoEducacionBasicaAprobado', 'MesAñoAprobacionUltimoGradoEducacionBasica', 'MaxNivelEducativoSuperiorTerminado', 'MesAñoAprobacionUltimoNivelEducativoSuperior', 'InstitucionEducativa', 'EstadoFormacion', 'NombreTituloObtenido', 'NombreTituloEducacion', 'NombreMaxNivelPostgrado', 'NombreTituloSuperior', 'NombreProcesoFormacionActual', 'MesAñoFinalizaciónProcesoFormacionActual', 'GrupoEtnico', 'PuebloIndigena', 'HablaLenguaNativa', 'TiempoExperienciaPrimeraInfancia', 'TiempoExpeienciaECActual', 'FechaIngresoAgenteEducativoEnPrimeraInfanciaICBF', 'ParticipacionProcesoFormacionPrimeraInfanciaUltimosDosAños', 'TematicaFormacion', 'FormacionFiestaLectura', 'TiempoFiestaLectura', 'NombreNecesidadesFormacion', 'OtraNecesidadFormacion', 'TrabajoNNDiscapacidad', 'TrabajaNNDiscapacidad', 'NombreBienesServicios', 'NombreLugarBienesServicios', 'VictimaDirectaConflictoArmado', 'HechosVictimizantes', 'TipoContrato', 'EsMadreComunitaria', 'SistemaGeneralSeguridadSocial', 'AfiliadoEPS', 'NombreEPS', 'AfiliadoARL', 'NombreARL', 'AfiliadoPensiones', 'NombreFondosPension', 'AfiliadoCajaCompensacion', 'NombreCajaCompensacion', 'Estado', 'VinculadAnteriormenteMadreComunitaria', 'NombreRegionalPertenecia', 'NombreCentroZonalPertenecia', 'NombreServicioPertenecia', 'NombreCargoPertenecia', 'NombreEntidadContratista', 'IdentificacionEAS', 'IdContrato', 'NumeroContrato', 'AcnoVigencia', 'RegionalContrato', 'RegionalUDS', 'CodigoUnidadServicio', 'NombreUnidadServicio', 'CentroZonalUDS', 'ZonaUbicacionUDS', 'DepartamentoUDS', 'MunicipioUDS', 'NombreServicioUDS', 'FechaInicialServicio', 'FechaFinalServicio', 'VigenciaServicio', 'Cargo', 'FechaVinculacionUDS', 'FechaDesvinculacionUDS', 'MotivoInactivación']
dftalento.columns=headers

In [214]:
dftalento.head(10)

,TipoDocumento,NumeroDocumento,PrimerNombre,SegundoNombre,PrimerApellido,SegundoApellido,DepartamentoResidencia,MunicipioResidencia,ZonaUbicación,CentroPoblado,...,DepartamentoUDS,MunicipioUDS,NombreServicioUDS,FechaInicialServicio,FechaFinalServicio,VigenciaServicio,Cargo,FechaVinculacionUDS,FechaDesvinculacionUDS,MotivoInactivación
0,CEDULA DE CIUDADANIA,43528113.0,MARIA,EUGENIA,RAMIREZ,NaN,BOLÍVAR,SANTA ROSA DEL SUR,CABECERA,SANTA ROSA DEL SUR,...,BOLÍVAR,SANTA ROSA DEL SUR,CDI SIN ARRIENDO - INSTITUCIONAL INTEGRAL,2018-01-23 00:00:00.000,2018-12-31 00:00:00.000,2018,AGENTE EDUCATIVO/DOCENTE,15/01/2018,NaN,NaN
1,CEDULA DE CIUDADANIA,43212204.0,LADY,CAROLINA,TORO,MONSALVE,ANTIOQUIA,GUARNE,CABECERA,GUARNE,...,ANTIOQUIA,GUARNE,HOGARES INFANTILES - INSTITUCIONAL INTEGRAL,2018-01-23 00:00:00.000,2018-12-31 00:00:00.000,2018,JARDINERA (HOGARES INFANTILES Y LACTANTES Y PR...,23/01/2018,NaN,NaN
2,CEDULA DE CIUDADANIA,43212281.0,ELIZABETH,NaN,OSPINA,HENAO,ANTIOQUIA,ITAGUI,CABECERA,ITAGÜÍ,...,ANTIOQUIA,MEDELLIN,SERVICIO ESPECIAL PARA LA PRIMERA INFANCIA - I...,2018-01-23 00:00:00.000,2018-12-31 00:00:00.000,2018,AGENTE EDUCATIVO/DOCENTE,15/01/2018,NaN,NaN
3,CEDULA DE CIUDADANIA,43528396.0,MARLENY,NaN,MACIAS,CASTRO,ANTIOQUIA,MEDELLIN,CABECERA,MEDELLÍN,...,ANTIOQUIA,MEDELLIN,HCB FAMI-FAMILIAR TRADICIONAL,2018-02-01 00:00:00.000,2018-12-31 00:00:00.000,2018,MADRE COMUNITARIA,01/02/2018,NaN,NaN
4,CEDULA DE CIUDADANIA,31570801.0,CONSUELO,NaN,ORTEGA,NOGUERA,PUTUMAYO,PUERTO ASIS,CABECERA,PUERTO ASÍS,...,PUTUMAYO,PUERTO ASIS,DESARROLLO INFANTIL EN MEDIO FAMILIAR SIN ARRI...,2018-02-01 00:00:00.000,2018-12-31 00:00:00.000,2018,AGENTE EDUCATIVO/DOCENTE,01/02/2018,NaN,NaN
5,CEDULA DE CIUDADANIA,43211422.0,ALBA,MILENA,VALENCIA,CANO,ANTIOQUIA,GUARNE,RESTO,NaN,...,ANTIOQUIA,GUARNE,SERVICIO ESPECIAL PARA LA PRIMERA INFANCIA - I...,2018-01-23 00:00:00.000,2018-12-31 00:00:00.000,2018,MANIPULADOR DE ALIMENTOS,01/02/2018,NaN,NaN
6,CEDULA DE CIUDADANIA,43475392.0,DIOSELINA,NaN,MUÑOZ,MURILLO,ANTIOQUIA,SAN CARLOS,CABECERA,SAN CARLOS,...,ANTIOQUIA,SAN CARLOS,HCB TRADICIONAL- COMUNITARIO (T),2018-02-01 00:00:00.000,2018-12-31 00:00:00.000,2018,MADRE COMUNITARIA,01/02/2018,NaN,NaN
7,CEDULA DE CIUDADANIA,43475801.0,MARIA,EUGENIA,CIRO,NaN,ANTIOQUIA,SAN CARLOS,CABECERA,SAN CARLOS,...,ANTIOQUIA,SAN CARLOS,CDI SIN ARRIENDO - INSTITUCIONAL INTEGRAL,2018-01-23 00:00:00.000,2018-12-31 00:00:00.000,2018,AGENTE EDUCATIVO/DOCENTE,15/01/2018,NaN,NaN
8,CEDULA DE CIUDADANIA,43476212.0,NORA,LILIANA,MARÍN,PEÑA,ANTIOQUIA,SAN CARLOS,CABECERA,SAN CARLOS,...,ANTIOQUIA,SAN CARLOS,CDI SIN ARRIENDO - INSTITUCIONAL INTEGRAL,2018-01-23 00:00:00.000,2018-12-31 00:00:00.000,2018,PROFESIONAL DE APOYO EN NUTRICION,15/01/2018,NaN,NaN
9,CEDULA DE CIUDADANIA,43475044.0,NIDIA,MARGARITA,GIRALDO,SANCHEZ,ANTIOQUIA,SAN CARLOS,CABECERA,SAN CARLOS,...,ANTIOQUIA,SAN CARLOS,HCB FAMI-FAMILIAR TRADICIONAL,2018-02-01 00:00:00.000,2018-12-31 00:00:00.000,2018,MADRE COMUNITARIA,01/02/2018,NaN,NaN

El siguiente paso es verificar cuantos datos nulos contiene el conjunto de datos

In [220]:
colNamestalento=dftalento.columns.values.tolist()
print("El número de columas es ",len(colNamestalento))

El número de columas es  78

## Datos Nulos

La primera tarea consiste en cuantificar la cantidad de datos nulos del dataFrame, seleccionamos

In [221]:
a=0
for column in colNamestalento:
    valnull=dftalento[column].isnull().sum()
    pornull=round(valnull/30000*100)
    if pornull > 85:
        a=a+1
        print (a,column,valnull,pornull)

Eliminamos las columnas que tiene un % superior al 85% de datos nulos

In [222]:
for column in colNamestalento:
    valnull=dftalento[column].isnull().sum()
    pornull=round(valnull/30000*100)
    if pornull > 85:
       dftalento.drop([column], axis='columns', inplace=True)

In [224]:
colNamestalento=dftalento.columns.values.tolist()
print("El número de columas es ",len(colNamestalento))

El número de columas es  78

In [225]:
colNamestalento

['TipoDocumento',
 'NumeroDocumento',
 'PrimerNombre',
 'SegundoNombre',
 'PrimerApellido',
 'SegundoApellido',
 'DepartamentoResidencia',
 'MunicipioResidencia',
 'ZonaUbicación',
 'CentroPoblado',
 'ComunaLocalidad',
 'Barrio',
 'Vereda',
 'DireccionResidencia',
 'Telefono',
 'Celular',
 'CorreroElectronico',
 'FechaNacimiento',
 'EdadActual',
 'Sexo',
 'MaxNivelEducativoAlcanzado',
 'UltimoGradoEducacionBasicaAprobado',
 'MesAñoAprobacionUltimoGradoEducacionBasica',
 'MaxNivelEducativoSuperiorTerminado',
 'MesAñoAprobacionUltimoNivelEducativoSuperior',
 'InstitucionEducativa',
 'EstadoFormacion',
 'NombreTituloObtenido',
 'NombreTituloEducacion',
 'NombreMaxNivelPostgrado',
 'NombreProcesoFormacionActual',
 'GrupoEtnico',
 'HablaLenguaNativa',
 'TiempoExperienciaPrimeraInfancia',
 'TiempoExpeienciaECActual',
 'FechaIngresoAgenteEducativoEnPrimeraInfanciaICBF',
 'ParticipacionProcesoFormacionPrimeraInfanciaUltimosDosAños',
 'TematicaFormacion',
 'FormacionFiestaLectura',
 'TiempoFiestaLectura',
 'NombreNecesidadesFormacion',
 'TrabajoNNDiscapacidad',
 'TrabajaNNDiscapacidad',
 'NombreBienesServicios',
 'NombreLugarBienesServicios',
 'VictimaDirectaConflictoArmado',
 'TipoContrato',
 'EsMadreComunitaria',
 'SistemaGeneralSeguridadSocial',
 'AfiliadoEPS',
 'NombreEPS',
 'AfiliadoARL',
 'NombreARL',
 'AfiliadoPensiones',
 'NombreFondosPension',
 'AfiliadoCajaCompensacion',
 'NombreCajaCompensacion',
 'Estado',
 'VinculadAnteriormenteMadreComunitaria',
 'NombreEntidadContratista',
 'IdentificacionEAS',
 'IdContrato',
 'NumeroContrato',
 'AcnoVigencia',
 'RegionalContrato',
 'RegionalUDS',
 'CodigoUnidadServicio',
 'NombreUnidadServicio',
 'CentroZonalUDS',
 'ZonaUbicacionUDS',
 'DepartamentoUDS',
 'MunicipioUDS',
 'NombreServicioUDS',
 'FechaInicialServicio',
 'FechaFinalServicio',
 'VigenciaServicio',
 'Cargo',
 'FechaVinculacionUDS']

In [226]:
dftalento.dtypes

TipoDocumento                                    object
NumeroDocumento                                 float64
PrimerNombre                                     object
SegundoNombre                                    object
PrimerApellido                                   object
SegundoApellido                                  object
DepartamentoResidencia                           object
MunicipioResidencia                              object
ZonaUbicación                                    object
CentroPoblado                                    object
ComunaLocalidad                                  object
Barrio                                           object
Vereda                                           object
DireccionResidencia                              object
Telefono                                        float64
Celular                                         float64
CorreroElectronico                               object
FechaNacimiento                                  object
EdadActual                                      float64
Sexo                                             object
MaxNivelEducativoAlcanzado                       object
UltimoGradoEducacionBasicaAprobado               object
MesAñoAprobacionUltimoGradoEducacionBasica       object
MaxNivelEducativoSuperiorTerminado               object
MesAñoAprobacionUltimoNivelEducativoSuperior     object
InstitucionEducativa                             object
EstadoFormacion                                  object
NombreTituloObtenido                             object
NombreTituloEducacion                            object
NombreMaxNivelPostgrado                          object
                                                 ...
SistemaGeneralSeguridadSocial                    object
AfiliadoEPS                                      object
NombreEPS                                        object
AfiliadoARL                                      object
NombreARL                                        object
AfiliadoPensiones                                object
NombreFondosPension                              object
AfiliadoCajaCompensacion                         object
NombreCajaCompensacion                           object
Estado                                           object
VinculadAnteriormenteMadreComunitaria            object
NombreEntidadContratista                         object
IdentificacionEAS                                 int64
IdContrato                                        int64
NumeroContrato                                    int64
AcnoVigencia                                      int64
RegionalContrato                                 object
RegionalUDS                                      object
CodigoUnidadServicio                              int64
NombreUnidadServicio                             object
CentroZonalUDS                                   object
ZonaUbicacionUDS                                 object
DepartamentoUDS                                  object
MunicipioUDS                                     object
NombreServicioUDS                                object
FechaInicialServicio                             object
FechaFinalServicio                               object
VigenciaServicio                                  int64
Cargo                                            object
FechaVinculacionUDS                              object
Length: 78, dtype: object

# Normalizacion

Los atributos de este conjunto de datos no requieren ser normalizados

## Descripción de dataset

In [227]:
dftalento.describe()

,NumeroDocumento,Telefono,Celular,EdadActual,TiempoFiestaLectura,IdentificacionEAS,IdContrato,NumeroContrato,AcnoVigencia,CodigoUnidadServicio,VigenciaServicio
count,2.999900e+04,2.995900e+04,5.931000e+03,29990.000000,4911.000000,2.999900e+04,29999.000000,2.999900e+04,29999.000000,2.999900e+04,29999.000000
mean,2.801242e+08,3.016741e+09,3.149746e+09,39.955719,2013.769293,8.521643e+08,26912.688356,4.143399e+09,2016.824427,2.297154e+12,2017.959565
std,4.546889e+08,2.647654e+09,1.016341e+09,11.161493,1.954555,4.299297e+07,2928.930990,1.485827e+10,0.651795,2.670850e+12,0.454913
min,4.747240e+05,0.000000e+00,0.000000e+00,16.000000,2008.000000,8.000004e+08,439.000000,3.000000e+01,2012.000000,5.001111e+10,2012.000000
25%,3.903110e+07,3.105913e+09,3.115182e+09,33.000000,2013.000000,8.060149e+08,26940.000000,3.550000e+02,2017.000000,4.456011e+11,2018.000000
50%,4.157740e+07,3.132373e+09,3.136214e+09,38.000000,2014.000000,8.390007e+08,27784.000000,8.960000e+02,2017.000000,7.610911e+11,2018.000000
75%,4.973942e+07,3.173158e+09,3.173503e+09,47.000000,2015.000000,9.000329e+08,28602.000000,3.902017e+06,2017.000000,4.443000e+12,2018.000000
max,1.014384e+10,3.182768e+11,3.219738e+10,133.000000,2018.000000,9.011399e+08,39637.000000,2.518202e+11,2018.000000,9.962400e+12,2018.000000

Realizando una revisión preliminar y siendo este el archivo de beneficiarios nos interesa saber cual el es numero de niños atentidos por region discriminando el sexo, la edad promedio.

## Datos duplicados

Primer experimento para validar datos repetidos, para lo cual el primer ejercicio es realizar un conteo del numero de documento, el cual en teoría debe existir en un solo registro. El primer hallazgo que se evidencia en esta análisis es el que en el archivo de beneficiarios el atributo del documento aparece como 'Numero_de_documento' y en el de atención salud 'Documento' siendo los dos el mismo atributo del mismo objeto.

In [255]:
doc_counts=dftalento["NumeroDocumento"].value_counts()
doc_counts.rename(columns={"NumeroDocumento":'value_counts'}, inplace=True)

4.306176e+07    118
3.931670e+07     89
3.931333e+07     75
4.193572e+07     71
3.978792e+07     69
4.569281e+07     67
4.973148e+07     59
3.949099e+07     56
4.093801e+07     54
1.004691e+09     53
3.887713e+07     50
4.372302e+07     44
3.767607e+06     41
1.018424e+09     40
1.016074e+09     37
3.039813e+07     36
1.018410e+09     34
4.193660e+07     29
1.017215e+09     29
1.006898e+09     27
4.371090e+07     26
1.014223e+09     25
1.017132e+09     25
4.638728e+07     24
1.010216e+09     23
1.001593e+09     22
3.915552e+07     22
1.018432e+09     22
1.002874e+09     21
1.007921e+09     21
               ...
3.915908e+07      1
3.915912e+07      1
4.316103e+07      1
1.001711e+09      1
3.915948e+07      1
1.010065e+09      1
3.915949e+07      1
2.482268e+07      1
3.915964e+07      1
3.915970e+07      1
1.004052e+09      1
3.662258e+07      1
3.915890e+07      1
3.915868e+07      1
3.915841e+07      1
3.915828e+07      1
4.314341e+07      1
3.915820e+07      1
4.544945e+07      1
4.125504e+07      1
1.010015e+09      1
3.915761e+07      1
3.915752e+07      1
4.544890e+07      1
3.915719e+07      1
3.915710e+07      1
3.915700e+07      1
4.544844e+07      1
4.544829e+07      1
4.545823e+07      1
Length: 19780, dtype: int64

In [259]:
doc_counts[0:1]

KeyError: 0.0

Se observa que existen documentos identicos que se encuentran en mas de un registro, el siguiente paso es verificar toda la fila, intentado establecer si realmente son datos duplicados o son diferetes objetos

In [231]:
dftalento = dftalento.drop_duplicates()
dftalento.duplicated()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
29969    False
29970    False
29971    False
29972    False
29973    False
29974    False
29975    False
29976    False
29977    False
29978    False
29979    False
29980    False
29981    False
29982    False
29983    False
29984    False
29985    False
29986    False
29987    False
29988    False
29989    False
29990    False
29991    False
29992    False
29993    False
29994    False
29995    False
29996    False
29997    False
29998    False
Length: 29999, dtype: bool

Se concluye que son diferentes objetos.

In [236]:
print(dftalento[dftalento.NumeroDocumento ==4.306176e+07])

Empty DataFrame
Columns: [TipoDocumento, NumeroDocumento, PrimerNombre, SegundoNombre, PrimerApellido, SegundoApellido, DepartamentoResidencia, MunicipioResidencia, ZonaUbicación, CentroPoblado, ComunaLocalidad, Barrio, Vereda, DireccionResidencia, Telefono, Celular, CorreroElectronico, FechaNacimiento, EdadActual, Sexo, MaxNivelEducativoAlcanzado, UltimoGradoEducacionBasicaAprobado, MesAñoAprobacionUltimoGradoEducacionBasica, MaxNivelEducativoSuperiorTerminado, MesAñoAprobacionUltimoNivelEducativoSuperior, InstitucionEducativa, EstadoFormacion, NombreTituloObtenido, NombreTituloEducacion, NombreMaxNivelPostgrado, NombreProcesoFormacionActual, GrupoEtnico, HablaLenguaNativa, TiempoExperienciaPrimeraInfancia, TiempoExpeienciaECActual, FechaIngresoAgenteEducativoEnPrimeraInfanciaICBF, ParticipacionProcesoFormacionPrimeraInfanciaUltimosDosAños, TematicaFormacion, FormacionFiestaLectura, TiempoFiestaLectura, NombreNecesidadesFormacion, TrabajoNNDiscapacidad, TrabajaNNDiscapacidad, NombreBienesServicios, NombreLugarBienesServicios, VictimaDirectaConflictoArmado, TipoContrato, EsMadreComunitaria, SistemaGeneralSeguridadSocial, AfiliadoEPS, NombreEPS, AfiliadoARL, NombreARL, AfiliadoPensiones, NombreFondosPension, AfiliadoCajaCompensacion, NombreCajaCompensacion, Estado, VinculadAnteriormenteMadreComunitaria, NombreEntidadContratista, IdentificacionEAS, IdContrato, NumeroContrato, AcnoVigencia, RegionalContrato, RegionalUDS, CodigoUnidadServicio, NombreUnidadServicio, CentroZonalUDS, ZonaUbicacionUDS, DepartamentoUDS, MunicipioUDS, NombreServicioUDS, FechaInicialServicio, FechaFinalServicio, VigenciaServicio, Cargo, FechaVinculacionUDS]
Index: []

[0 rows x 78 columns]

## Análisis en cojunto de los archivos

Este análisis tiene como objetivo realizar una comparación de los atributos del archivo de beneficiarios y de atención salud. El primer paso es identificar cuales son los atributos que se encuentran en los dos archivos. Es importante que la muestra de los archivos sea del mismo tamaño

In [232]:
lista1=set(colNamestalento)
lista2=set(colNames)
 
final= lista1 & lista2
if len(final) > 0 :
    print("hay {} elementos coincidentes".format(len(final)))
    print(final)
else:
    print("no hay repeticiones")

hay 20 elementos coincidentes
{'PrimerNombre', 'CodigoUnidadServicio', 'MunicipioUDS', 'SegundoApellido', 'DireccionResidencia', 'FechaNacimiento', 'GrupoEtnico', 'TipoDocumento', 'AcnoVigencia', 'CentroZonalUDS', 'DepartamentoUDS', 'SegundoNombre', 'Sexo', 'RegionalUDS', 'NombreEntidadContratista', 'RegionalContrato', 'NombreUnidadServicio', 'PrimerApellido', 'IdContrato', 'NumeroContrato'}

Se crean dos dataframe auxiliares para realizar esta comparación, con los atributos resultado de la operación anterior

In [233]:
dfAux1=dftalento[['PrimerNombre', 'CodigoUnidadServicio', 'MunicipioUDS', 'SegundoApellido', 'DireccionResidencia', 'FechaNacimiento', 'GrupoEtnico', 'TipoDocumento', 'AcnoVigencia', 'CentroZonalUDS', 'DepartamentoUDS', 'SegundoNombre', 'Sexo', 'RegionalUDS', 'NombreEntidadContratista', 'RegionalContrato', 'NombreUnidadServicio', 'PrimerApellido', 'IdContrato', 'NumeroContrato']]
dfAux2=df[['PrimerNombre', 'CodigoUnidadServicio', 'MunicipioUDS', 'SegundoApellido', 'DireccionResidencia', 'FechaNacimiento', 'GrupoEtnico', 'TipoDocumento', 'AcnoVigencia', 'CentroZonalUDS', 'DepartamentoUDS', 'SegundoNombre', 'Sexo', 'RegionalUDS', 'NombreEntidadContratista', 'RegionalContrato', 'NombreUnidadServicio', 'PrimerApellido', 'IdContrato', 'NumeroContrato']]
dfunion=dfAux1.merge(dfAux2, how='outer', indicator='union')

In [234]:
dfunion[dfunion.union=='both']

Empty DataFrame
Columns: [PrimerNombre, CodigoUnidadServicio, MunicipioUDS, SegundoApellido, DireccionResidencia, FechaNacimiento, GrupoEtnico, TipoDocumento, AcnoVigencia, CentroZonalUDS, DepartamentoUDS, SegundoNombre, Sexo, RegionalUDS, NombreEntidadContratista, RegionalContrato, NombreUnidadServicio, PrimerApellido, IdContrato, NumeroContrato, union]
Index: []

[0 rows x 21 columns]

Se conlcuye que son objetos diferentes

# PREPROCESAMIENTO ARCHIVO TALENTO CONTRATOS

In [29]:
path='C:/Users/SENA/Documents/pythonAnalitic/ICBF/contratos.csv'
dfcontrato = pd.read_csv(path)

In [30]:
headers=['IdContrato','NombreEntidadContratista','TDENomTipoDocumento','Identificacion','NombreTipoOrganizacion','CodigoDepartamento','NombreDepartamento','CodigoMunicipio','NombreMunicipio','NombreTipoContrato','RCNombreRegional','NombreMacroRegione','NumeroContrato','ObjetoContrato','VCAcnoVigencia','AporteICBF','AporteEC','ValorTotal','NumeroCupos','FechaInicio','FechaFin','NumeroCDP','NumeroRP','NombreRegionalRP','AcnoVigenciaRP','NumeroPoliza','FechaInicioPoliza','FechaFinPoliza','Persona','PNomTipoDocumento','PDocumento','PPrimerNombre','PSegundoNombre','PPrimerApellido','PSegundoApellido','PTipo','PCargo','ObjetoConfinanciacion','NomTipoDocumento','IdentificacionConfinanciacion','TipoConfinanciacion','Valor','NombreTipoOtroSi','ValorOtroSi','CupoOtroSi','Descripcion','FechaInicioOtroSi','FechaFinOtroSi','NumeroCDPOtroSi','NumeroRPOtroSi','NombreServicio','ValorServicio','Cupos','FechaInicioServicio','FechaFinServicio','ModalidadDeContratacion','NombreEstadoContrato','FecActaInicio']
dfcontrato.columns=headers

In [27]:
dfcontrato.head(10)

,IdContrato,NombreEntidadContratista,TDENomTipoDocumento,Identificacion,NombreTipoOrganizacion,CodigoDepartamento,NombreDepartamento,CodigoMunicipio,NombreMunicipio,NombreTipoContrato,...,NumeroCDPOtroSi,NumeroRPOtroSi,NombreServicio,ValorServicio,Cupos,FechaInicioServicio,FechaFinServicio,ModalidadDeContratacion,NombreEstadoContrato,FecActaInicio
0,28308,CORPORACION CENTRO COMUNITARIO LA ROSA,NUMERO DE IDENTIFICACION TRIBUTARIA,891200796,CORPORACIONES,52,Nariño,52001,Pasto,CONTRATO DE APORTE,...,4918.0,4818.0,NaN,NaN,NaN,NaN,NaN,CPALO: Convocatoria publica de aporte con list...,ACTIVO,1900-01-01T00:00:00.000Z
1,28309,CAJA DE COMPENSACIÓN FAMILIAR CAFAM,NUMERO DE IDENTIFICACION TRIBUTARIA,860013570,CAJA DE COMPENSACIÓN,11,Bogota D.C.,11001,"Bogota, D.C.",CONVENIO DE ASOCIACIÓN,...,0.0,0.0,CDI SIN ARRIENDO - INSTITUCIONAL INTEGRAL,5.226667e+08,200.0,01/01/2018,31/07/2018,CD: Contratacion Directa,ACTIVO,1900-01-01T00:00:00.000Z
2,28309,CAJA DE COMPENSACIÓN FAMILIAR CAFAM,NUMERO DE IDENTIFICACION TRIBUTARIA,860013570,CAJA DE COMPENSACIÓN,11,Bogota D.C.,11001,"Bogota, D.C.",CONVENIO DE ASOCIACIÓN,...,0.0,0.0,CDI SIN ARRIENDO - INSTITUCIONAL INTEGRAL,5.226667e+08,200.0,16/12/2017,31/12/2017,CD: Contratacion Directa,ACTIVO,1900-01-01T00:00:00.000Z
3,28309,CAJA DE COMPENSACIÓN FAMILIAR CAFAM,NUMERO DE IDENTIFICACION TRIBUTARIA,860013570,CAJA DE COMPENSACIÓN,11,Bogota D.C.,11001,"Bogota, D.C.",CONVENIO DE ASOCIACIÓN,...,0.0,0.0,CDI SIN ARRIENDO - INSTITUCIONAL INTEGRAL,5.226667e+08,200.0,01/01/2018,31/07/2018,CD: Contratacion Directa,ACTIVO,1900-01-01T00:00:00.000Z
4,28309,CAJA DE COMPENSACIÓN FAMILIAR CAFAM,NUMERO DE IDENTIFICACION TRIBUTARIA,860013570,CAJA DE COMPENSACIÓN,11,Bogota D.C.,11001,"Bogota, D.C.",CONVENIO DE ASOCIACIÓN,...,0.0,0.0,CDI SIN ARRIENDO - INSTITUCIONAL INTEGRAL,5.226667e+08,200.0,16/12/2017,31/12/2017,CD: Contratacion Directa,ACTIVO,1900-01-01T00:00:00.000Z
5,28310,CAJA DE COMPENSACIÓN FAMILIAR CAFAM,NUMERO DE IDENTIFICACION TRIBUTARIA,860013570,CAJA DE COMPENSACIÓN,11,Bogota D.C.,11001,"Bogota, D.C.",CONVENIO DE ASOCIACIÓN,...,0.0,0.0,CDI SIN ARRIENDO - INSTITUCIONAL INTEGRAL,6.010667e+08,230.0,01/01/2018,31/07/2018,CD: Contratacion Directa,ACTIVO,1900-01-01T00:00:00.000Z
6,28310,CAJA DE COMPENSACIÓN FAMILIAR CAFAM,NUMERO DE IDENTIFICACION TRIBUTARIA,860013570,CAJA DE COMPENSACIÓN,11,Bogota D.C.,11001,"Bogota, D.C.",CONVENIO DE ASOCIACIÓN,...,0.0,0.0,CDI SIN ARRIENDO - INSTITUCIONAL INTEGRAL,6.010667e+08,230.0,16/12/2017,31/12/2017,CD: Contratacion Directa,ACTIVO,1900-01-01T00:00:00.000Z
7,28310,CAJA DE COMPENSACIÓN FAMILIAR CAFAM,NUMERO DE IDENTIFICACION TRIBUTARIA,860013570,CAJA DE COMPENSACIÓN,11,Bogota D.C.,11001,"Bogota, D.C.",CONVENIO DE ASOCIACIÓN,...,0.0,0.0,CDI SIN ARRIENDO - INSTITUCIONAL INTEGRAL,6.010667e+08,230.0,01/01/2018,31/07/2018,CD: Contratacion Directa,ACTIVO,1900-01-01T00:00:00.000Z
8,28310,CAJA DE COMPENSACIÓN FAMILIAR CAFAM,NUMERO DE IDENTIFICACION TRIBUTARIA,860013570,CAJA DE COMPENSACIÓN,11,Bogota D.C.,11001,"Bogota, D.C.",CONVENIO DE ASOCIACIÓN,...,0.0,0.0,CDI SIN ARRIENDO - INSTITUCIONAL INTEGRAL,6.010667e+08,230.0,16/12/2017,31/12/2017,CD: Contratacion Directa,ACTIVO,1900-01-01T00:00:00.000Z
9,28311,ASOCIACIÓN MUJER Y GENERO,NUMERO DE IDENTIFICACION TRIBUTARIA,840000903,FUNDACIONES,52,Nariño,52835,San Andres De Tumaco,CONTRATO DE APORTE,...,0.0,0.0,DESARROLLO INFANTIL EN MEDIO FAMILIAR SIN ARRI...,2.998835e+09,2213.0,01/02/2018,31/07/2018,CPALO: Convocatoria publica de aporte con list...,ACTIVO,1900-01-01T00:00:00.000Z

El siguiente paso es verificar cuantos datos nulos contiene el conjunto de datos

In [32]:
colNamescontratos=dfcontrato.columns.values.tolist()
print("El número de columas es ",len(colNamescontratos))

El número de columas es  58

## Datos Nulos

La primera tarea consiste en cuantificar la cantidad de datos nulos del dataFrame, seleccionamos

In [33]:
a=0
for column in colNamescontratos:
    valnull=dfcontrato[column].isnull().sum()
    pornull=round(valnull/30000*100)
    if pornull > 85:
        a=a+1
        print (a,column,valnull,pornull)

1 NombreMacroRegione 29967 100.0
2 ObjetoConfinanciacion 29992 100.0
3 NomTipoDocumento 29992 100.0
4 IdentificacionConfinanciacion 29992 100.0
5 TipoConfinanciacion 29992 100.0
6 Valor 29992 100.0
7 FechaInicioOtroSi 27233 91.0
8 FechaFinOtroSi 27233 91.0

Eliminamos las columnas que tiene un % superior al 85% de datos nulos

In [34]:
for column in colNamescontratos:
    valnull=dfcontrato[column].isnull().sum()
    pornull=round(valnull/30000*100)
    if pornull > 85:
       dfcontrato.drop([column], axis='columns', inplace=True)

In [36]:
colNamescontratos=dfcontrato.columns.values.tolist()
print("El número de columas es ",len(colNamescontratos))

El número de columas es  50

In [37]:
colNamescontratos

['IdContrato',
 'NombreEntidadContratista',
 'TDENomTipoDocumento',
 'Identificacion',
 'NombreTipoOrganizacion',
 'CodigoDepartamento',
 'NombreDepartamento',
 'CodigoMunicipio',
 'NombreMunicipio',
 'NombreTipoContrato',
 'RCNombreRegional',
 'NumeroContrato',
 'ObjetoContrato',
 'VCAcnoVigencia',
 'AporteICBF',
 'AporteEC',
 'ValorTotal',
 'NumeroCupos',
 'FechaInicio',
 'FechaFin',
 'NumeroCDP',
 'NumeroRP',
 'NombreRegionalRP',
 'AcnoVigenciaRP',
 'NumeroPoliza',
 'FechaInicioPoliza',
 'FechaFinPoliza',
 'Persona',
 'PNomTipoDocumento',
 'PDocumento',
 'PPrimerNombre',
 'PSegundoNombre',
 'PPrimerApellido',
 'PSegundoApellido',
 'PTipo',
 'PCargo',
 'NombreTipoOtroSi',
 'ValorOtroSi',
 'CupoOtroSi',
 'Descripcion',
 'NumeroCDPOtroSi',
 'NumeroRPOtroSi',
 'NombreServicio',
 'ValorServicio',
 'Cupos',
 'FechaInicioServicio',
 'FechaFinServicio',
 'ModalidadDeContratacion',
 'NombreEstadoContrato',
 'FecActaInicio']

In [38]:
dfcontrato.dtypes

IdContrato                    int64
NombreEntidadContratista     object
TDENomTipoDocumento          object
Identificacion                int64
NombreTipoOrganizacion       object
CodigoDepartamento            int64
NombreDepartamento           object
CodigoMunicipio               int64
NombreMunicipio              object
NombreTipoContrato           object
RCNombreRegional             object
NumeroContrato                int64
ObjetoContrato               object
VCAcnoVigencia                int64
AporteICBF                  float64
AporteEC                    float64
ValorTotal                  float64
NumeroCupos                   int64
FechaInicio                  object
FechaFin                     object
NumeroCDP                   float64
NumeroRP                    float64
NombreRegionalRP             object
AcnoVigenciaRP              float64
NumeroPoliza                 object
FechaInicioPoliza            object
FechaFinPoliza               object
Persona                      object
PNomTipoDocumento            object
PDocumento                  float64
PPrimerNombre                object
PSegundoNombre               object
PPrimerApellido              object
PSegundoApellido             object
PTipo                        object
PCargo                       object
NombreTipoOtroSi             object
ValorOtroSi                 float64
CupoOtroSi                  float64
Descripcion                  object
NumeroCDPOtroSi             float64
NumeroRPOtroSi              float64
NombreServicio               object
ValorServicio               float64
Cupos                       float64
FechaInicioServicio          object
FechaFinServicio             object
ModalidadDeContratacion      object
NombreEstadoContrato         object
FecActaInicio                object
dtype: object

# Normalizacion

Los atributos de este conjunto de datos no requieren ser normalizados

## Descripción de dataset

In [227]:
dftalento.describe()

,NumeroDocumento,Telefono,Celular,EdadActual,TiempoFiestaLectura,IdentificacionEAS,IdContrato,NumeroContrato,AcnoVigencia,CodigoUnidadServicio,VigenciaServicio
count,2.999900e+04,2.995900e+04,5.931000e+03,29990.000000,4911.000000,2.999900e+04,29999.000000,2.999900e+04,29999.000000,2.999900e+04,29999.000000
mean,2.801242e+08,3.016741e+09,3.149746e+09,39.955719,2013.769293,8.521643e+08,26912.688356,4.143399e+09,2016.824427,2.297154e+12,2017.959565
std,4.546889e+08,2.647654e+09,1.016341e+09,11.161493,1.954555,4.299297e+07,2928.930990,1.485827e+10,0.651795,2.670850e+12,0.454913
min,4.747240e+05,0.000000e+00,0.000000e+00,16.000000,2008.000000,8.000004e+08,439.000000,3.000000e+01,2012.000000,5.001111e+10,2012.000000
25%,3.903110e+07,3.105913e+09,3.115182e+09,33.000000,2013.000000,8.060149e+08,26940.000000,3.550000e+02,2017.000000,4.456011e+11,2018.000000
50%,4.157740e+07,3.132373e+09,3.136214e+09,38.000000,2014.000000,8.390007e+08,27784.000000,8.960000e+02,2017.000000,7.610911e+11,2018.000000
75%,4.973942e+07,3.173158e+09,3.173503e+09,47.000000,2015.000000,9.000329e+08,28602.000000,3.902017e+06,2017.000000,4.443000e+12,2018.000000
max,1.014384e+10,3.182768e+11,3.219738e+10,133.000000,2018.000000,9.011399e+08,39637.000000,2.518202e+11,2018.000000,9.962400e+12,2018.000000

Realizando una revisión preliminar y siendo este el archivo de beneficiarios nos interesa saber cual el es numero de niños atentidos por region discriminando el sexo, la edad promedio.

## Datos duplicados

Primer experimento para validar datos repetidos, para lo cual el primer ejercicio es realizar un conteo del numero de documento, el cual en teoría debe existir en un solo registro. El primer hallazgo que se evidencia en esta análisis es el que en el archivo de beneficiarios el atributo del documento aparece como 'Numero_de_documento' y en el de atención salud 'Documento' siendo los dos el mismo atributo del mismo objeto.

In [255]:
doc_counts=dftalento["NumeroDocumento"].value_counts()
doc_counts.rename(columns={"NumeroDocumento":'value_counts'}, inplace=True)

4.306176e+07    118
3.931670e+07     89
3.931333e+07     75
4.193572e+07     71
3.978792e+07     69
4.569281e+07     67
4.973148e+07     59
3.949099e+07     56
4.093801e+07     54
1.004691e+09     53
3.887713e+07     50
4.372302e+07     44
3.767607e+06     41
1.018424e+09     40
1.016074e+09     37
3.039813e+07     36
1.018410e+09     34
4.193660e+07     29
1.017215e+09     29
1.006898e+09     27
4.371090e+07     26
1.014223e+09     25
1.017132e+09     25
4.638728e+07     24
1.010216e+09     23
1.001593e+09     22
3.915552e+07     22
1.018432e+09     22
1.002874e+09     21
1.007921e+09     21
               ...
3.915908e+07      1
3.915912e+07      1
4.316103e+07      1
1.001711e+09      1
3.915948e+07      1
1.010065e+09      1
3.915949e+07      1
2.482268e+07      1
3.915964e+07      1
3.915970e+07      1
1.004052e+09      1
3.662258e+07      1
3.915890e+07      1
3.915868e+07      1
3.915841e+07      1
3.915828e+07      1
4.314341e+07      1
3.915820e+07      1
4.544945e+07      1
4.125504e+07      1
1.010015e+09      1
3.915761e+07      1
3.915752e+07      1
4.544890e+07      1
3.915719e+07      1
3.915710e+07      1
3.915700e+07      1
4.544844e+07      1
4.544829e+07      1
4.545823e+07      1
Length: 19780, dtype: int64

In [259]:
doc_counts[0:1]

KeyError: 0.0

Se observa que existen documentos identicos que se encuentran en mas de un registro, el siguiente paso es verificar toda la fila, intentado establecer si realmente son datos duplicados o son diferetes objetos

In [231]:
dftalento = dftalento.drop_duplicates()
dftalento.duplicated()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
29969    False
29970    False
29971    False
29972    False
29973    False
29974    False
29975    False
29976    False
29977    False
29978    False
29979    False
29980    False
29981    False
29982    False
29983    False
29984    False
29985    False
29986    False
29987    False
29988    False
29989    False
29990    False
29991    False
29992    False
29993    False
29994    False
29995    False
29996    False
29997    False
29998    False
Length: 29999, dtype: bool

Se concluye que son diferentes objetos.

In [236]:
print(dftalento[dftalento.NumeroDocumento ==4.306176e+07])

Empty DataFrame
Columns: [TipoDocumento, NumeroDocumento, PrimerNombre, SegundoNombre, PrimerApellido, SegundoApellido, DepartamentoResidencia, MunicipioResidencia, ZonaUbicación, CentroPoblado, ComunaLocalidad, Barrio, Vereda, DireccionResidencia, Telefono, Celular, CorreroElectronico, FechaNacimiento, EdadActual, Sexo, MaxNivelEducativoAlcanzado, UltimoGradoEducacionBasicaAprobado, MesAñoAprobacionUltimoGradoEducacionBasica, MaxNivelEducativoSuperiorTerminado, MesAñoAprobacionUltimoNivelEducativoSuperior, InstitucionEducativa, EstadoFormacion, NombreTituloObtenido, NombreTituloEducacion, NombreMaxNivelPostgrado, NombreProcesoFormacionActual, GrupoEtnico, HablaLenguaNativa, TiempoExperienciaPrimeraInfancia, TiempoExpeienciaECActual, FechaIngresoAgenteEducativoEnPrimeraInfanciaICBF, ParticipacionProcesoFormacionPrimeraInfanciaUltimosDosAños, TematicaFormacion, FormacionFiestaLectura, TiempoFiestaLectura, NombreNecesidadesFormacion, TrabajoNNDiscapacidad, TrabajaNNDiscapacidad, NombreBienesServicios, NombreLugarBienesServicios, VictimaDirectaConflictoArmado, TipoContrato, EsMadreComunitaria, SistemaGeneralSeguridadSocial, AfiliadoEPS, NombreEPS, AfiliadoARL, NombreARL, AfiliadoPensiones, NombreFondosPension, AfiliadoCajaCompensacion, NombreCajaCompensacion, Estado, VinculadAnteriormenteMadreComunitaria, NombreEntidadContratista, IdentificacionEAS, IdContrato, NumeroContrato, AcnoVigencia, RegionalContrato, RegionalUDS, CodigoUnidadServicio, NombreUnidadServicio, CentroZonalUDS, ZonaUbicacionUDS, DepartamentoUDS, MunicipioUDS, NombreServicioUDS, FechaInicialServicio, FechaFinalServicio, VigenciaServicio, Cargo, FechaVinculacionUDS]
Index: []

[0 rows x 78 columns]

## Análisis en cojunto de los archivos

Este análisis tiene como objetivo realizar una comparación de los atributos del archivo de beneficiarios y de atención salud. El primer paso es identificar cuales son los atributos que se encuentran en los dos archivos. Es importante que la muestra de los archivos sea del mismo tamaño

In [232]:
lista1=set(colNamestalento)
lista2=set(colNames)
 
final= lista1 & lista2
if len(final) > 0 :
    print("hay {} elementos coincidentes".format(len(final)))
    print(final)
else:
    print("no hay repeticiones")

hay 20 elementos coincidentes
{'PrimerNombre', 'CodigoUnidadServicio', 'MunicipioUDS', 'SegundoApellido', 'DireccionResidencia', 'FechaNacimiento', 'GrupoEtnico', 'TipoDocumento', 'AcnoVigencia', 'CentroZonalUDS', 'DepartamentoUDS', 'SegundoNombre', 'Sexo', 'RegionalUDS', 'NombreEntidadContratista', 'RegionalContrato', 'NombreUnidadServicio', 'PrimerApellido', 'IdContrato', 'NumeroContrato'}

Se crean dos dataframe auxiliares para realizar esta comparación, con los atributos resultado de la operación anterior

In [233]:
dfAux1=dftalento[['PrimerNombre', 'CodigoUnidadServicio', 'MunicipioUDS', 'SegundoApellido', 'DireccionResidencia', 'FechaNacimiento', 'GrupoEtnico', 'TipoDocumento', 'AcnoVigencia', 'CentroZonalUDS', 'DepartamentoUDS', 'SegundoNombre', 'Sexo', 'RegionalUDS', 'NombreEntidadContratista', 'RegionalContrato', 'NombreUnidadServicio', 'PrimerApellido', 'IdContrato', 'NumeroContrato']]
dfAux2=df[['PrimerNombre', 'CodigoUnidadServicio', 'MunicipioUDS', 'SegundoApellido', 'DireccionResidencia', 'FechaNacimiento', 'GrupoEtnico', 'TipoDocumento', 'AcnoVigencia', 'CentroZonalUDS', 'DepartamentoUDS', 'SegundoNombre', 'Sexo', 'RegionalUDS', 'NombreEntidadContratista', 'RegionalContrato', 'NombreUnidadServicio', 'PrimerApellido', 'IdContrato', 'NumeroContrato']]
dfunion=dfAux1.merge(dfAux2, how='outer', indicator='union')

In [234]:
dfunion[dfunion.union=='both']

Empty DataFrame
Columns: [PrimerNombre, CodigoUnidadServicio, MunicipioUDS, SegundoApellido, DireccionResidencia, FechaNacimiento, GrupoEtnico, TipoDocumento, AcnoVigencia, CentroZonalUDS, DepartamentoUDS, SegundoNombre, Sexo, RegionalUDS, NombreEntidadContratista, RegionalContrato, NombreUnidadServicio, PrimerApellido, IdContrato, NumeroContrato, union]
Index: []

[0 rows x 21 columns]

Se conlcuye que son objetos diferentes

Es importante para la selección de la muestra que esta sea estratificada para lo cual inicialmente se deben seleccionar los estratos que debe tener la muestra. Lo primero es definir el tamaño de la muestra.
Es importante que la muestra tenga valores de todas las regiones

In [14]:
N=2362237
Z=2.58
e=0.05
p=0.5
q=1-p
muestra=((Z**2)*N*(p**2)/(((e**2)*(N-1))+((Z**2)*p)))
muestra

665.2653596896974